{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %}{{ object.name }}{% endblock %}
{% block scriptHeader %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script crossorigin src="https://unpkg.com/three@latest/build/three.min.js"></script>
<script crossorigin src="https://unpkg.com/@acdh/network-visualization@latest/lib/network-visualization.umd.js"></script>
<script src="{% static 'netvis/js/netvis.js' %}"></script>
{% endblock %}
{% block content %}
<!-- <div class="container"> -->
<div class="card w-100">
  <div class="card-header">
    <div class="row">
      <div class="col-md-2">
        {% if object.get_prev %}
        <h2>
          <a href="{{ object.get_prev }}" title="previous">
            <i data-feather="chevron-left"></i>
          </a>
        </h2>
        {% endif %}
      </div>
      <div class="col-md-8">
        <h2 style="text-align: center;">
          <small><a href="{{ object.get_listview_url }}" title="back to listview"><small>{{ class_name }}</small></a></small>
          {{ object }}
          {% if user.is_authenticated %}
            <a href="{{ object.get_edit_url }}" title="edit">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a>
            <a href="{{ object.get_delete_url }}" title="delete">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a>
          {% endif %}
          {% if 'archeutils' in APPS %}
          <a href="{% url 'archeutils:res_as_arche_graph' app_name=app_name model_name=class_name|lower pk=object.id %}" title="As ARCHE-RDF">
            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
          </a>
          {% endif%}
        </h2>
      </div>
      <div class="col-md-2">
        <h2>
          {% if object.get_next %}
          <a href="{{ object.get_next }}" style="float:right" title="next">
            <i data-feather="chevron-right"></i>
          </a>
        </h2>
        {% endif %}
      </div>
      <div class="col-md-2">
        <h2>
          {% if object.get_next %}
          <a href="{{ object.get_next }}" style="float:right" title="next">
            <i data-feather="chevron-right"></i>
          </a>
        </h2>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="card-body">
    {% block custom %}
    <legend>Basic Information </legend>
    <div class="row">

        <div class="col-md-6">
            <table class="table table-responsive table-hover">
              <tr>
                <th>preview</th>
                <td>
                  {% if object.access.pref_label == 'public' %}
                    <img src="{{ arche_thumb }}" alt="..." class="img-thumbnail" />
                  {% else %}
                    restricted access
                  {% endif %}
                </td>
              <tr>
              {% for x in object.field_dict %}
              {% if x.value %}
              {% if user.is_authenticated %}
                <th>
                  {% if x.help_text %}
                  <abbr title="{{ x.help_text }}">{{ x.verbose_name }}</abbr>
                  {% else %}
                  {{ x.verbose_name }}
                  {% endif %}
                </th>
                <td>
                  {% if x.f_type == 'M2M' %}
                  {% for y in x.value %}
                  <li>
                    <a href="{{ y.get_absolute_url }}">{{ y }}</a>
                  </li>
                  {% endfor %}
                  {% elif  x.f_type == 'FK' %}
                  <a href="{{ x.value.get_absolute_url }}">{{ x.value }}</a>
                  {% elif  x.f_type == 'FK' %}
                  <a href="{{ x.value.get_absolute_url }}">{{ x.value }}</a>
                  {% elif  x.f_type == 'REVRESE_RELATION' %}
                  {% for y in x.value %}
                  <li>
                    <a href="{{ y.get_absolute_url }}">{{ y }}</a>
                  </li>
                  {% endfor %}

                  {% elif  x.f_type == 'SIMPLE' %}
                  {{ x.value }}
                  {% endif %}
                </td>
              </tr>
              {% elif not x.extra_fields or x.extra_fields.is_public %}
              {% if x.verbose_name != "The original data" %}
              <tr>
                <th>
                  {% if x.help_text %}
                  <abbr title="{{ x.help_text }}">{{ x.verbose_name }}</abbr>
                  {% else %}
                  {{ x.verbose_name }}
                  {% endif %}
                </th>
                <td>
                  {% if x.f_type == 'M2M' %}
                  {% for y in x.value %}
                  <li>
                    <a href="{{ y.get_absolute_url }}">{{ y }}</a>
                  </li>
                  {% endfor %}
                  {% elif  x.f_type == 'FK' %}
                  {% if x.verbose_name == 'Copyright' %}
                  <a href="{{ x.value.get_absolute_url }}">{{ x.value|upper }}</a>
                  {% else %}
                  <a href="{{ x.value.get_absolute_url }}">{{ x.value }}</a>
                  {% endif %}
                  {% elif  x.f_type == 'FK' %}
                  <a href="{{ x.value.get_absolute_url }}">{{ x.value }}</a>
                  {% elif  x.f_type == 'REVRESE_RELATION' %}
                  {% for y in x.value %}
                  <li>
                    <a href="{{ y.get_absolute_url }}">{{ y }}</a>
                  </li>
                  {% endfor %}

                  {% elif  x.f_type == 'SIMPLE' %}
                  {{ x.value }}
                  {% endif %}
                </td>
              </tr>
              {% endif %}
              {% endif %}
              {% endif %}
              {% endfor %}
            </table>
        </div>
        <div class="col-md-6">
            <div id="visualization" style="position: relative; height: 700px; background: #fafafa;"></div>
            <script type="text/javascript">
              showGraph("{% url 'netvis:graph' app_name=app_name model_name=class_name|lower pk=object.id %}", "visualization")
            </script>
            {% if object.access.pref_label == 'public' %}
              <div id="openseadragon-photo" style="height: 350px;"></div>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/openseadragon/2.4.1/openseadragon.min.js"></script>
              <script type="text/javascript">
                  var viewer = OpenSeadragon({
                      id: "openseadragon-photo",
                      protocol: "http://iiif.io/api/image",
                      prefixUrl: "https://cdnjs.cloudflare.com/ajax/libs/openseadragon/2.4.1/images/",
                      sequenceMode : true,
                      showReferenceStrip: true,
                      tileSources: ["{{ arche_id }}?PARAM=info.json&format=iiif"]
                  });
              </script>
              {% else %}
                restricted access
              {% endif %}
        </div>

    </div>


  </div>
</div>
{% endblock custom %}
{% endblock %}
