{% extends "webpage/base.html" %}
{% load staticfiles %}
{% block title %}Fielddrawing: {{ object }}{% endblock %}
{% block scriptHeader %}
{% endblock %}
{% block content %}
<div class="panel panel-body">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Digital Archive</li>
    <li class="breadcrumb-item"><a href="{% url 'webpage:staticpage' template='explore' %}">Explore TD resources</a></li>
    <li class="breadcrumb-item"><a href="{% url 'browsing:browse_fielddrawings' %}">Search all field drawings</a></li>
    <li class="breadcrumb-item">field drawing {{ object }}</a></li>
  </ol>
    <div class="panel panel-default procustom-panel-create">
        <div class="panel-heading procustom-panel-heading">
            <div class="row">
                <div class="col-md-2">
                    {% if object.get_prev %}
                    <h2>
                        <a href="{% url 'archiv:fielddrawing-detail' pk=object.get_prev %}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true" title="previous area"></span></a>
                    </h2>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <h1 style="text-align: center;">
                       <small>field drawing: </small>{{ object }}
                    </h1>
                </div>
                <div class="col-md-2">
                {% if object.get_next %}
                    <h2>
                        <a href="{% url 'archiv:fielddrawing-detail' pk=object.get_next %}" style="float:right"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" title="next area"></span></a>
                    </h2>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="panel-body" style="text-align:center">
            <div class="row">
                <div class="col-md-7">
                    <table class="table table-bordered table-hover table-condensed">
                        <tr>
                            <th>document id <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="This is the unique identifier of the document. It consists of abbreviations for site_document type_inventory number."></i></th>
                            <td>{{ object.document_id}}</td>
                        </tr>
                        <tr>
                            <th>document type <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Definition of resource type (in this case field drawing)."></i></th>
                            <td>{% for x in object.document_type.all %} {{ x }} <br/> {% endfor %}</td>
                        </tr>
                        <tr>
                            <th>document subtype <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Definition of the contains of the resource (e.g.: Planum, Profil, Detail, Sondage)."></i></th>
                            <td>{% for x in object.document_subtype.all %} {{ x }} <br/> {% endfor %}</td>
                        </tr>
                        <tr>
                            <th>scan </th>
                            <td>{% for x in object.scan.all %} <a href="{% url 'images:scan_detail' pk=x.id %}">{{ x }}</a> <br/> {% endfor %}</td>
                        </tr>
                        <tr>
                            <th>site <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Archaeological site (here: Tell el Daba – TD)."></th>
                            <td>{{ object.site }}</td>
                        </tr>
                        <tr>
                            <th>area <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Excavation area e.g.: F-I, A-II, H-III."></i></th>
                            <td>{{ object.area }}</td>
                        </tr>
                        <tr>
                            <th>square trench <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Name of the square trench of the excavation area, taken from grid system e.g.: o21, k19."></i></th>
                            <td>{% for x in object.square_trence.all %} {{ x }} <br/> {% endfor %}</td>
                        </tr>
                        <tr>
                            <th>planum <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Number of the planum (e.g.: Planum1, Planum2)."></i></th>
                            <td>{% for x in object.planum.all %} {{ x }} <br/> {% endfor %}</td>
                        </tr>
                        <tr>
                            <th>perspective of drawing </th>
                            <td>{% for x in object.perspective_of_drawing.all %} {{ x }} <br/> {% endfor %}</td>
                        </tr>
                        <tr>
                            <th>stratum comment <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Exact copy of the stratum commentary on the field drawing."></i></th>
                            <td>{{ object.stratum_commentary }}</td>
                        </tr>
                        <tr>
                            <th>drawn by </th>
                            <td>{% for x in object.drawn_by.all %} {{ x }} <br/> {% endfor %}</td>
                        </tr>
                        <tr>
                            <th>year </th>
                            <td>{{ object.year}}</td>
                        </tr>
                        <tr>
                            <th>season </th>
                            <td>{% for x in object.season.all %} {{ x }} <br/> {% endfor %}</td>
                        </tr>
                        <tr>
                            <th>month </th>
                            <td>{% for x in object.month.all %} {{ x }} <br/> {% endfor %}</td>
                        </tr>
                        <tr>
                            <th>scale </th>
                            <td>{% for x in object.scale.all %} {{ x }} <br/> {% endfor %}</td>
                        </tr>
                        <tr>
                            <th>paper type </th>
                            <td>{% for x in object.paper_type.all %} {{ x }} <br/> {% endfor %}</td>
                        </tr>
                        <tr>
                            <th>archaeological object <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Archaeological object ID contains: Abbreviation of site_area_square trench_description of archaeological object."></i></th>
                            <td>{% for x in object.archobject.all %} {{ x }} <br/> {% endfor %}</td>
                        </tr>
                        <tr>
                            <th>excavation object <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Excavation object ID contains: Abbreviation of site_area_square trench_description of excavation object."></i></th>
                            <td>
                                {% for x in object.exobject.all %}
                                    <a href="{% url 'archobs:exobject-detail' pk=x.id %}">{{ x }}</a> <br/> {% endfor %}</td>
                        </tr>
                    </table>
                    {% if object.rel_archob_finds %}
                        <table class="table table-bordered table-hover table-condensed">
                            {% for x in object.rel_archob_finds %}
                                <tr><td><a href="{% url 'archobs:find-detail' pk=x.id %}">{{ x }}</a></td></tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
                <script>
                $(document).ready(function(){
                    $('[data-toggle="tooltip"]').tooltip();
                });
                </script>

                <div class="col-md-5">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" id="zoom-in">Zoom In</button>
                        <button type="button" class="btn btn-primary" id="home">Default</button>
                        <button type="button" class="btn btn-primary" id="zoom-out">Zoom Out</button>
                        <button type="button" class="btn btn-primary" id="full-page">Full Sceen</button>
                    </div>
                    <div id="openseadragon1" style="width: 100%; height: 400px"></div>
                    <script src="{% static 'images/openseadragon/openseadragon.min.js' %}"></script>
                    <script type="text/javascript">
                        var viewer = OpenSeadragon({
                            id: "openseadragon1",
                            tileSources: "{{ object.iiifjson }}",
                            zoomInButton:   "zoom-in",
                            zoomOutButton:  "zoom-out",
                            homeButton:     "home",
                            fullPageButton: "full-page",
                        });
                    </script>
                    <div>
                        <h2>download</h2>
                        <a href="{{ object.iiif_endpoint }}/full/full/0/default.jpg">
                            <i class="fa fa-file-image-o fa-5x" aria-hidden="true" title="image as jpeg"></i>
                        </a>
                    </div>
                </div>
        </div>
    </div>
    </div>
    <div id="map"/>
</div>
{% endblock %}
