
# Byte-compiled
__pycache__/
*.pyc

# sqlite
/*.sqlite3

# test coverage
.coverage
cover/

# IDE
.idea

# migrations
vocabs/migrations/*
bib/migrations/*
webpage/migrations/*
places/migrations/*


# Ipython Notebook checkpoints
.ipynb_checkpoints

# production(like) settings files
mysql.py
server.py
postgres.py
dev_secret.py
dev_acdh.py

# documentation build files

/docs/_*/*
/vocabs/data/spreadsheets/cv_burial.xlsx
/Untitled.ipynb
/arche/data/fileType.json
/arche/data/fileList.json

pg_local*


output_*
*/data/*
/data/*

prepare_lueckentexte.ipynb
myenv
staticfiles
netvis
charts
Untitled*
matching_binaries.csv
play.*
arche_contributors.pickle
mentioned_actors.csv
fileList.json
