{% extends "webpage/base.html" %}

{% block content %}

<div class="container">
<div class="panel panel-default procustom-panel-list">
    <div class="panel-heading procustom-panel-heading">
        <h1>Images </h1>
        <div>
            {% if user.is_authenticated %}
                <a class="btn btn-primary" href="#" role="button">create new Image</a>
            {% endif %}
      </div>
      <br>
    </div>
    <div class="panel-body procustom-panel-body">
        <table class="table table-bordered table-hover">
            <tr>
                <th>Image</th>
            </tr>
            {% for object in object_list %}
                <tr>
                    <td>
                        <a href="{% url 'images:image_detail' pk=object.id %}">{{ object }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>
</div>
</div>


{% endblock %}
