{% extends "webpage/base.html" %}
{% load staticfiles %}
{% block Titel %} {{ object.id }} {% endblock %}
{% block content %}

<div class="panel panel-default procustom-panel-create">
        <div class="panel-heading procustom-panel-heading">
            <div class="row">
                <div class="col-md-2">
                    {% if object.get_prev %}
                    <h2>
                        <a href="{% url 'images:scan_detail' pk=object.get_prev %}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true" title="previous area"></span></a>
                    </h2>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <h1 style="text-align: center;">
                       <small>scan of: </small>{{ object.filename }}
                    </h1>
                </div>
                <div class="col-md-2">
                {% if object.get_next %}
                    <h2>
                        <a href="{% url 'images:scan_detail' pk=object.get_next %}" style="float:right"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" title="next area"></span></a>
                    </h2>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="panel-body" style="text-align:center">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered table-hover table-condensed">
                        <tr>
                            <th>creator_scan</th>
                            <td>{% for x in object.creator_scan.all %}{{ x }}<br/> {% endfor %}</td>
                        </tr>
                        <tr>
                            <th>scan_type</th>
                            <td>{{ object.scan_type }}</td>
                        </tr>
                        <tr>
                            <th>scan_date</th>
                            <td>{{ object.scan_date }}</td>
                        </tr>
                        <tr>
                            <th>equipment</th>
                            <td>{{ object.equipment }}</td>
                        </tr>
                        <tr>
                            <th>resolution</th>
                            <td>{{ object.resolution }}</td>
                        </tr>
                        <tr>
                            <th>IIIF-Json</th>
                            <td><a href="{{ object.full_path }}">{{ object.full_path }}</td>
                        </tr>
                        <tr>
                            <th>related objects</th>
                            <td>
                                {% for x in object.fielddrawing_set.all %}
                                    <a href="{% url 'archiv:fielddrawing-detail' pk=x.id %}">{{ x }}</a><br/>
                                {% endfor %}
                                {% for x in object.foto_set.all %}
                                    <small>{{ x.foto_type }} </small><a href="{% url 'archiv:foto-detail' pk=x.id %}">{{ x }}</a><br/>
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" id="zoom-in">Zoom In</button>
                        <button type="button" class="btn btn-primary" id="home">Default</button>
                        <button type="button" class="btn btn-primary" id="zoom-out">Zoom Out</button>
                        <button type="button" class="btn btn-primary" id="full-page">Full Sceen</button>
                    </div>
                    <div id="openseadragon1" style="width: 100%; height: 400px"></div>
                    <script src="{% static 'images/openseadragon/openseadragon.min.js' %}"></script>
                    <script type="text/javascript">
                        var viewer = OpenSeadragon({
                            id: "openseadragon1",
                            tileSources: "{{ object }}",
                            zoomInButton:   "zoom-in",
                            zoomOutButton:  "zoom-out",
                            homeButton:     "home",
                            fullPageButton: "full-page",
                        });
                    </script>
                </div>
            </div>
        </div>
</div>

{% endblock content %}
