{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %} About {% endblock %}
{% block content %}
<div class="container-planning" style="padding-bottom:150px;">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">About the project</li>
        <li class="breadcrumb-item">What is "a puzzle in 4D"?</li>
      </ol>
		<div class="text-center">
			<h1>About <i>A Puzzle in 4D</i></h1>
			<hr style="border-color:#83C653; border-width: 2px" width="10%">
		</div>
        <div class="row">
					<div class="col-md-4">
            <div class="container" >
              <div class="col-md-4" style=" margin-left:-30px;background-color:#f2f2f2; border: 2px solid; border-radius: 25px; padding-bottom:35px;">
                <br>
                <b><u>Host Institution/Pl:</u></b> Institute for Oriental and European Archaeology (OREA), Austrian Academy of Sciences (ÖAW)<br>
                <b><u>Project start- and end date:</u></b> 01/02/2015 - 31/01/2020 <br>
                <b><u>Funding:</u></b> Österreichische Nationalstiftung für Forschung, Technologie & Entwicklung (DH 2014/12)<br>
              </div>
            </div>
            <ul class="images">
              <img class="img-responsive" style=" width:300px; margin-bottom: 0px; margin-top:30px; border-radius:0px;" src="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about_fig2.jpeg" alt="Excavations in area A/II in the year 1980 with the village of Tell el-Daba in the background (M. Bietak, © copyright ÖAI/OREA archive)."/>
              <b>Figure 1</b>: Excavations in area A/II in the year 1980 with the village of Tell el-Daba in the background (M. Bietak, © copyright ÖAI/OREA archive).

      				<img class="img-responsive" style=" width:300px; margin-bottom: 0px; margin-top:30px; border-radius:0px;" src="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about_fig1.jpeg" alt="Bull leaping frieze from area H/I (reconstruction) (drawing by M. A. Negrete Martinez after M. Bietak et al. 2007, fig. 60). "/>
              <b>Figure 2</b>: Bull leaping frieze from area H/I (reconstruction) (drawing by M. A. Negrete Martinez after M. Bietak et al. 2007, fig. 60).
      				<br />
            </ul>
            <br>
            <br>
              <div class="container" >
      					<div class="col-md-4" style=" margin-left:-30px;background-color:#f2f2f2; border: 2px solid; border-radius: 25px; padding-bottom:35px;">
      						<h4><i class="fa fa-camera fa" style="color: #83C653" aria-hidden="true"></i>&nbsp;Image Gallery</h4>
      						<ul class="images">
      							<div class="row">
      							<div class="col-lg-4" style="">
      									<img originalUrl="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about16.jpeg" src="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about16_tumb.jpeg"  style="padding-top:5px;" class="img-responsive gallery-items" alt="Ink-drawn large scale plans.">
      							</div>
      							<div class="col-lg-4" style="">
      									<img originalUrl="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about02.jpeg" src="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about02_tumb.jpeg"  style="padding-top:5px;" class="img-responsive gallery-items" alt="Taking photos of finds in Tell el-Daba.">
      							</div>
      							<div class="col-lg-4" style="">
      									<img originalUrl="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about03.jpeg" src="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about03_tumb.jpeg"  style="padding-top:5px;" class="img-responsive gallery-items" alt="Scanning over-sized plans and field drawings.">
      							</div>
      						</div>
      						<div class="row">
      							<div class="col-lg-4" style="">
      									<img originalUrl="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about04.jpeg" src="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about04_tumb.jpeg"  style="padding-top:5px;" class="img-responsive gallery-items" alt="Putting the scanned plans together with the software PerfectStitch.">
      							</div>

      							<div class="col-lg-4" style="">
      									<img originalUrl="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about17.jpeg" src="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about17_tumb.jpeg"  style="padding-top:5px;" class="img-responsive gallery-items" alt="Excavation diaries and other written documentation in the OREA archive.">
      							</div>
      							<div class="col-lg-4" style="">
      									<img originalUrl="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about13.jpeg" src="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about13_tumb.jpeg"  style="padding-top:5px;" class="img-responsive gallery-items" alt="Inventory cards of finds held in the OREA archive.">
      							</div>
      						</div>
      						<div class="row">
      							<div class="col-lg-4" style="">
      									<img originalUrl="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about07.jpeg" src="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about07_tumb.jpeg"  style="padding-top:5px;" class="img-responsive gallery-items" alt="Depiction of a hand (ivory) from Tell el-Daba.">
      							</div>
      							<div class="col-lg-4" style="">
      									<img originalUrl="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about08.jpeg" src="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about08_tumb.jpeg"  style="padding-top:5px;" class="img-responsive gallery-items" alt="Finds from tomb 24 (Areal F/I, i21, Tell el-Daba).">
      							</div>
      							<div class="col-lg-4" style="">
      									<img originalUrl="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about09.jpeg" src="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about09_tumb.jpeg"  style="padding-top:5px;" class="img-responsive gallery-items" alt="Black-burnished and incised jug.">
      							</div>
      						</div>
      						<div class="row">
      							<div class="col-lg-4" style="">
      									<img originalUrl="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about14.jpeg" src="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about14_tumb.jpeg"  style="padding-top:5px;" class="img-responsive gallery-items" alt="Inventory cards of finds in the OREA archive.">
      							</div>
      							<div class="col-lg-4" style="">
      									<img originalUrl="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about15.jpeg" src="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about15_tumb.jpeg"  style="padding-top:5px;" class="img-responsive gallery-items" alt="Inventory cards of finds in the OREA archive.">
      							</div>
      							<div class="col-lg-4" style="">
      									<img originalUrl="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about12.jpeg" src="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about12_tumb.jpeg"  style="padding-top:5px;" class="img-responsive gallery-items" alt="Piece of a wall painting from Tell el-Daba.">
      							</div>
      						</div>
      						<div class="row">
      							<div class="col-lg-4" style="">
      									<img originalUrl="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about18.jpeg" src="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about18_tumb.jpeg"  style="padding-top:5px;" class="img-responsive gallery-items" alt="Analogue photo-documentation, black and white diapositives and film strips.">
      							</div>
      							<div class="col-lg-4" style="">
      									<img originalUrl="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about19.jpeg" src="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about19_tumb.jpeg"  style="padding-top:5px;" class="img-responsive gallery-items" alt="Equipment to re-organize analogue photo-documentation in the OREA archive.">
      							</div>
      							<div class="col-lg-4" style="">
      									<img originalUrl="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about20.jpeg" src="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about20_tumb.jpeg"  style="padding-top:5px;" class="img-responsive gallery-items" alt="Using tweezers to get the photo-negatives out of their cases.">
      							</div>
      						</div>
      						<div class="row">
      							<div class="col-lg-4" style="">
      									<img originalUrl="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about21.jpeg" src="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about21_tumb.jpeg"  style="padding-top:5px;" class="img-responsive gallery-items" alt="Find drawings (ink and pencil drawings).">
      							</div>
      							<div class="col-lg-4" style="">
      									<img originalUrl="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about22.jpeg" src="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about22_tumb.jpeg"  style="padding-top:5px;" class="img-responsive gallery-items" alt="Manfred Bietak’s excavation diaries.">
      							</div>
      							<div class="col-lg-4" style="">
      									<img originalUrl="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about23.jpeg" src="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/about23_tumb.jpeg"  style="padding-top:5px;" class="img-responsive gallery-items" alt="Convolute cards of ceramic finds from Tell el-Daba.">
      							</div>
      						</div>
      						</ul>
      					</div>
      				</div>
  			</div>
  			<div class="col-md-8">

  				<p class="">The overall aim of the A Puzzle in 4D project is the digital long-term preservation of the knowledge and information from the Austrian excavations at Tell el Daba by preparing them for long-term archiving based on national and international standards and in accordance with open-access policies.<sup>1</sup> This project is designed as a case study for the development of a repository for archaeological data at the ÖAW ACDH (<a href="https://www.oeaw.ac.at/">Austrian Academy of Sciences</a>, <a href="https://www.oeaw.ac.at/acdh/acdh-home/" target="_blank">Austrian Center for Digital Humanities</a>).
          </p>
          <p>
            Tell el Daba (TD) is an archaeological site situated in the eastern Nile delta regions of Egypt revealing archaeological evidence from the 12th to 18th dynasties (early second millennium BC)<sup>2</sup> (<b>Fig. 1</b>). Excavations reveal that there was a wealthy society with contacts to many parts of the eastern Mediterranean. A unique connection to Minoan culture has been shown through thousands of fragments of Minoan-style wall paintings discovered in one of the TD palaces, depicting e.g. scenes with bulls and bull-leapers which have become a trademark of the site (<b>Fig. 2</b>)<br>For more information see: <a href="{% url 'webpage:staticpage' template='site' %}">Archaeological Site</a>
          </p>
          <p>
            Since 1966 excavations at TD were carried out by the archaeologist Manfred Bietak for the Austrian Archaeological Institute (ÖAI) resulting in records from 50 years of fieldwork campaigns.<sup>3</sup> The archaeological discipline has seen major changes during this period of time, most notably developments in information technology have caused a shift from analogue to digitally-born data. As a result, the TD archive at OREA contains a huge and heterogeneous resource of digital and analogue photographs, plans, drawings and written documentation.
          </p>
          <p>
            Today, the preservation of parts of the datasets and information on TD is being challenged. The negatives of black and white photos from earlier fieldwork campaigns are deteriorating and showing damages due to their age. Data loss may occur due to fragmented legacy research data (e.g. digital site maps) and incompatibility of formats as well as loss of knowledge about the spatial and temporal relationships of archaeological entities.
          </p>
          <p>
            The aim of the ‘A Puzzle in 4D’ project is to provide long-term preservation for the rich archaeological resources of the excavations at Tell el Daba in Egypt. Digital and non-digital excavation data will be enriched with metadata and prepared for long-term archiving and open-access online publication. <br>
            For more information see: <a href="{% url 'webpage:staticpage' template='archive' %}">Tell el-Daba digital archive</a>
          </p>
          <p>
            Within the A Puzzle in 4D project, one area of the excavations has been used as a case study for developing a methodology for the spatial and temporal expert analysis in a 4-dimensional Archaeological Information System. This system is based on a GIS (Geographical Information System) which has been connected with a tool to analyse the stratigraphic sequence of the archaeological evidence. Stratigraphy is the analysis and description of events which form an archaeological site. The tool which has been developed in this project to analyse the spatial and temporal sequence is a so-called Harris Matrix Composer (HMC+).
          </p>
          <p>
            The maps and 3D models resulting from the spatio-temporal analysis will form the basis for a comprehensive virtual reconstruction of the site, making the archaeological evidence of one area accessible online for research as well as the interested public. <br>
            For more information see: <a href="{% url 'webpage:staticpage' template='reconstruct' %}">Tell el-Daba 4D</a>

          </p>
  				<br><br>
  				<div class="clearfix"></div>
  				<h2><i class="fa fa-book" style="color: #83C653" aria-hidden="true"></i>&nbsp;Bibliography</h2>
  				<p class="text-justify">
  				<ol>
            <li>
              <b> E. Aspöck – K. Kopetzky – B. Horejs – M. Bietak – M. Kucera – W. Neubauer</b>, A Puzzle in 4D. Digital Preservation and Reconstruction of an Egyptian Palace. Proceedings of the Digital Heritage International Congress held in Granada, 28 September–2 October 2015, <a href="http://dx.doi.org/10.1109/DigitalHeritage.2015.7419596" target="_blank">doi: 10.1109/DigitalHeritage.2015.7419596</a>.<br>
            </li>
            <li>
              <b> M. Bietak</b>, Tell el-Dabca V. Ein Friedhofsbezirk der Mittleren Bronzezeitkultur mit Totentempel und Siedlungsschichten, Teil I, UZK 8 (Vienna 1991).<br>
              <b> E. Czerny</b>, Tell el-Dabca IX. Eine Plansiedlung des frühen Mittleren Reiches, UZK 15 (Vienna 1999).<br>
              <b> E. Czerny</b>, Tell el-Dabca XII. „Der Mund der beiden Wege“. Die Siedlung und der Tempelbezirk des Mittleren Reiches von Ezbet Ruschdi, 2 vols., UZK 38 (Vienna 2015).<br>
              <b> Hein – P. Janosi</b>, Tell el-Dabca, XI: Areal A/V, Siedlungsrelikte der späten Hyksoszeit, UZK 21 (Vienna 2004).<br>
              <b> Forstner-Müller</b>, Tell el-Dabca XVI. Die Gräber des Areals A/II von Tell el-Dabca, UZK 28 (Vienna 2008).<br>
              <b> V. Müller</b>, Tell el-Dabca XVII. Opferdeponierungen in der Hyksoshauptstadt Auaris (Tell el-Dabca) vom späten Mittleren Reich bis zum frühen Neuen Reich, 2 vols., UZK 29 (Vienna 2008).<br>
              <b> R. Schiestl</b>, Tell el-Dabca XVIII. Die Palastnekropole von Tell el-Dabca. Die Gräber des Areals F/I der Straten d/2 und d/1, UZK 30 (Vienna 2009).<br>
            </li>
            <li>
            	<b> M. Bietak</b>, Avaris. The Capital of the Hyksos (London 1996).<br>
              <b> M. Bietak – J. Dorner – P. Janosi</b>, Ausgrabungen in dem Palastbezirk von Avaris. Vorbericht Tell el-Dabca/cEzbet Helmi 1993-2000, Ägypten und Levante 11, 2001, 27–119.<br>
              <b> M. Bietak – N. Math – V. Müller</b>, Report on the Excavation of a Hyksos Palace at Tell el-Dabca/Avaris, Ägipten und Levante 22/23, 2012/2013, 17–53.<br>
              <b> M. Bietak – I. Forstner-Müller</b>, Ausgrabung eines Palastbezirkes der Tuthmosidenzeit bei cEzbet Helmi/Tell el-Dabca. Vorbericht für Herbst 2004 und Frühjahr 2005, Ägypten und Levante 15, 2006, 65–100.<br>
            </li>
          </ol>
  				</p>

  			</div>
  		</div>
      </div>
  </div>
{% endblock %}
