{% extends "webpage/base.html" %}
{% load static %}
{% load webpage_extras %}
{% block content %}
<div class="container-planning" style="padding-bottom:150px;">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">About the project</li>
        <li class="breadcrumb-item"><a href="{% url 'webpage:staticpage' template='archive' %}">Creation of the digital archive</a></li>
        <li class="breadcrumb-item">Digitisation</li>
      </ol>
		<div class="text-center">
			<h1>Digitisation of Tell el-Daba resources </h1>
			<hr style="border-color:#83C653; border-width: 2px" width="10%">
		</div>
        <div class="row">

    			<div class="col-md-12">
    				<p>
            We have created digitisation workflows for all digital and analogue resources. A download of templates for future projects on TD resources can also be found here in the download section (<a href="{% url 'webpage:staticpage' template='downloads' %}">https://4dpuzzle.orea.oeaw.ac.at/downloads</a>) and they are also available directly via ARCHE (section: AboutThisArchive_Archivinformation_E73, folder: Download4FutureProjects).
            </p>
            <h4>Analogue resources - scanning and metadata creation workflow </h4>
            <p>
              <ol>
                <li><i>Scanning:</i> According to different requirements for different resource types <b>(Table 1)</b>.</li>
                <li><i>Metadata creation:</i> includes creation of the unique identifier for the resource and the scan title (a short description of its content) which automatically creates the filename in the spreadsheet; entering identifiers of archaeological objects and excavation objects, loci IDs to link the record to them; entering additional metadata for the respective resource and the digitization process (like scale, ppi rate and used hardware);</li>
                <li>If necessary, create the relevant identifiers in the master metadata table.</li>
                <li>The analogue resource is marked with a pencil to show that it has been scanned (name of person who created the scan, date).</li>
                <li>If necessary (e.g when irregularities were encountered during metadata creation and a deviation of standard procedure was made), data logs have to be updated.</li>
                <li>At the end of each workday, all metadata files were committed to the git-repository. Additionally, we created backups of all updated files by copying them into a backup folder on our network drives.</li>
            </p>
            <br>
            <table class="table">
              <thead class="thead">
                <tr>
                  <th scope="col">Resource</th>
                  <th scope="col">Scanner</th>
                  <th scope="col">ppi</th>
                  <th scope="col">File size each</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">B&W and colour photo negatives</th>
                  <td>Noritsu HS-1800 (in 2nd part of project)</td>
                  <td>3130x2075<br>
                  4832x4760
                  </td>
                  <td>18,6 - 65,8 MB</td>
                </tr>
                <tr>
                  <th scope="row">Find sheets</th>
                  <td>Epson 11000XL</td>
                  <td>300 ppi</td>
                  <td>45 MB</td>
                </tr>
                <tr>
                  <th scope="row">Field drawings</th>
                  <td>Epson 10000XL/Epson 11000XL/WideTek 25/ EPSON GT 20000</td>
                  <td>600 ppi</td>
                  <td>Average 250 MB</td>
                </tr>
                <tr>
                  <th scope="row">Convolute cards</th>
                  <td>Epson 11000XL</td>
                  <td>300 ppi</td>
                  <td>94 MB</td>
                </tr>
                <tr>
                  <th scope="row">Find drawings</th>
                  <td>Epson 11000XL</td>
                  <td>1200 ppi</td>
                  <td>32 MB</td>
                </tr>
                <tr>
                  <th scope="row">Field diaries</th>
                  <td>Epson 11000XL</td>
                  <td>300 ppi</td>
                  <td>5 MB/sheet</td>
                </tr>
              </tbody>
            </table>
            <p class="description"><b>Table 1:</b> Scanning standards. File resolutions for scanning analogue documents followed the recommendations of good practice guides (ADS, Archaeological Data Service/Digital Antiquity 2017, IANUS, Forschungsdatenzentrum Archäologie und Altertumswissenschaften 2014).</p>
            <br>
            <h4>Born-digital resources - summary of workflow:</h4>
            <ol>
              <li>Survey of digital resources in legacy data folder to omit duplicates and versions of files, decide which files to preserve.</li>
              <li>Development of a workflow (based on Good practice guides for long-term preservation of digital objects (ADS 2017, IANUS 2014; finally ARCHE guides <a href="https://arche.acdh.oeaw.ac.at/browser/deposition-process" target="_blank">https://arche.acdh.oeaw.ac.at/browser/deposition-process</a> ).</li>
              <li>Preparation of born-digital data for archiving (conversion into durable file formats suitable for long term preservation according to ARCHE <a href="https://arche.acdh.oeaw.ac.at/browser/formats-filenames-and-metadata#formats" target="_blank">https://arche.acdh.oeaw.ac.at/browser/formats-filenames-and-metadata#formats</a> ; correction of file names; metadata). A very detailed documentation of the workflow is available <a href="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/downloads/4DP_Guide_Digitisation.pdf" target="_blank">here</a> and will be made accessible via the project webpages and will also be archived in ARCHE (‘AboutThisArchive_Archivinformation_E73’).</li>
              <li>Iterative file checks when parts of data were ready -> corrections, until data was in good shape.</li>
              <li>Completion of preparation of data</li>
            </ol>
    			</div>

		</div>
    </div>
</div>

{% endblock %}
