{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block content %}
<div class="container-planning">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">About the project</li>
        <li class="breadcrumb-item">Downloads</li>
      </ol>

    <div class="row">
			<div class="col-md-12">
        <div class="text-center">
          <h1>Downloads</h1>
          <hr style="border-color:#83C653; border-width: 2px" width="10%">
          <ul class="text-left">
            <li>Folder templates: <a href="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/downloads/4DP_ARCHE_Folder_Structure_empty.zip">Download</a></li>
            <li>Metadata templates: <a href="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/downloads/4DP_Metadata_empty.zip">Download</a></li>
            <li>4DP Guide data management & digitization of analogue resources: <a href="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/downloads/4DP_Guide_Data_Management.pdf" target="_blank">Download</a></li>
            <li>4DP Guide data management & processing of born-digital resources: <a href="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/downloads/4DP_Guide_Digitisation.pdf" target="_blank">Download</a></li>
        </div>
		  </div>
    </div>
</div>
</div>
{% endblock %}
