{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block content %}
<div class="container-planning" style="padding-bottom:150px;">
    <div class="container">
      <div class="text-center">
        <h1>Tell el-Daba Bibliography</h1>
        <hr style="border-color:#83C653; border-width: 2px" width="10%">
      </div>
      <div class="row">
          <div class="col-lg-12" style="">

            <ul>
              <li>Zotero Literature Database: <a href="https://www.zotero.org/4dpuzzle" target="_blank">click here</a></li></ul>
          </div>
        </div>
		<div class="text-center">
			<h1>Publications</h1>
			<hr style="border-color:#83C653; border-width: 2px" width="10%">
		</div>
		<div class="row">
				<div class="col-lg-12" style="">

					<ul>
						<li><b>E. Aspöck | S. Štuhec | K. Kopetzky | M. Kucera</b> (eds.) (in preparation), ‚Old excavation data – what can we do?’. Proceedings from workshop at 10th ICAANE. OREA Series (Vienna).</li>
            <li><b>E. Aspöck</b>, ‚Introduction: Old excavation data – what can we do?’. Proceedings from workshop at 10th ICAANE. OREA Series (Vienna).</li>
            <li><b>E. Aspöck | G. Hiebel | K. Kopetzky | M. Ďurčo </b>(submitted for review), ‚A puzzle in 4D: Archiving digital and analogue resources of the Austrian excavations at Tell el Daba, Egypt’, in: ‚Old excavation data – what can we do?’. Proceedings from workshop at 10th ICAANE. OREA Series (Vienna).</li>
            <li><b>E. Aspöck | K. Kopetzky | B. Horejs | M. Bietak | M. Kucera | W. Neubauer</b>, ‚A Puzzle in 4D. Digital Preservation and Reconstruction of an Egyptian Palace.’ Proceedings of the Digital Heritage International Congress held in Granada, 28 September–2 October 2015, <a href="http://doi.org/10.1109/DigitalHeritage.2015.7419596" target="_blank">doi: 10.1109/DigitalHeritage.2015.7419596</a>.</li>
					 </ul>
				</div>
			</div>
      <div class="text-center">
        <h1>Organized workshops</h1>
        <hr style="border-color:#83C653; border-width: 2px" width="10%">
      </div>
      <div class="row">
          <div class="col-lg-12" style="">
            <ul>
              <li><b>Organisation of CHNT Round table Long-term preservation and access: Where is an archive for my data?</b>, 16. Nov. 2016, Vienna, Austria <a href="http://www.ariadne-infrastructure.eu/ita/Events/CHNT-2016" target="_blank">http://www.ariadne-infrastructure.eu/ita/Events/CHNT-2016</a>
               (Organizers: ARIADNE partners Edeltraud Aspöck (OREA), Guntram Geser (Salzburgresearch)) This round table raised many issues related to archaeological data archiving: political situation, standards, and practicalities. A new informal work group on archaeological data archiving was formed. On this occasion to connect archaeological data archivists to exchange good practice, discuss open questions, support each other and new projects in archiving tasks. The members are representatives from Archaeology Data Service (ADS, UK), IANUS project (German Archaeological Institute), EDNA DANS (Netherlands) and ÖAW 4DP Project (Aspöck, Hiebel, Ďurčo)
              </li>
              <li><b>Organisation of ICAANE Workshop ‚Old Excavation Data – What can we do?’</b>, 28. Apr. 2016, Vienna, Austria  <a href="http://www.orea.oeaw.ac.at/10icaane.html.html" target="_blank">http://www.orea.oeaw.ac.at/10icaane.html.html</a>
              (Organizers: Edeltraud Aspöck, Karin Kopetzky, Seta Štuhec (OREA, ÖAW) Matthias Kucera (LBI ArchPro)). In this workshop projects dealing with resources from older or long-term excavations were brought together to discuss preservation strategies and cases of reuse. The discussions headed to how digitization strategies for vast amounts of analogue resources can be improved, how heterogeneous datasets of long-term projects can be integrated and finding ways to apply new digital methods to legacy datasets.
              </li>
              <li><b>Organisation of ARIADNE Datenmanagement workshop</b>, 19.Jan 2016 <a href="http://www.ariadne-infrastructure.eu/Events/ARIADNE-workshop-Vienna" target="_blank">http://www.ariadne-infrastructure.eu/Events/ARIADNE-workshop-Vienna</a>
              (Organizers: Edeltraud Aspöck, Seta Štuhec, Irene Petschko, Anja Masur (OREA, ÖAW),  Kate Fernie (PIN and 2Culture Associates) and Holly Wright (Archaeology Data Service, ADS)) In this workshop key aspects of archaeological data management were presented to archaeologists mainly unfamiliar with data management. The current state of affairs in Austria and Europe, the creation of a data management plan, the reasons for special processes for archiving, choosing which data is to be archived and the required equipment were discussed in depth.
              </li>
              <li><b>Organisation of Save the Data workshop</b>, 2. Dec.2014, Vienna, Austria. <a href="http://www.ariadne-infrastructure.eu/Events/Save-the-data" target="_blank">http://www.ariadne-infrastructure.eu/Events/Save-the-data</a>
              (Organizers: Edeltraud Aspöck, OREA ÖAW, Matej Ďurčo, ACDH ÖAW) This workshop focused on the pressing question of long-term preservation of digital data. The challenges encountered during the whole lifecycle of archaeological data and already existing solutions were discussed.

              </li>
            </ul>
            <div class="text-center">
                <h1>Presentations</h1>
                <hr style="border-color:#83C653; border-width: 2px" width="10%">
              </div>
             <ul>
               <li><b>V. Müller</b>, ‚Bericht zu den ägyptologischen Aktivitäten des Institutes für Orientalische und Europäische Archäologie (OREA) der ÖAW’ at 49. Ständige Ägyptologen Konferenz 14.-16. Jul. 2017, Göttingen, Germany. <a href="https://www.uni-goettingen.de/de/veranstaltungen/547911.html" target="_blank">https://www.uni-goettingen.de/de/veranstaltungen/547911.html</a></li>
               <li><b>G. Hiebel | E. Aspöck |M. Kucera</b>, Austria: Excavation Interface in CRMarchaeo?. At: CRM-SIG meeting 2017 Crete: 3.-6. Apr., Crete, Greece (<a href="http://www.cidoc-crm.org/sig-meetings" target="_blank">http://www.cidoc-crm.org/sig-meetings</a>):  The 38th joined meeting of the CIDOC CRM SIG and ISO/TC46/SC4/WG9 and the 31st  FRBR - CIDOC CRM Harmonization meeting. <a href="http://www.cidoc-crm.org/sites/default/files/Excavation_Inference4CRMarchaeo.pdf" target="_blank">http://www.cidoc-crm.org/sites/default/files/Excavation_Inference4CRMarchaeo.pdf</a></li>
               <li><b>E. Aspöck | G. Hiebel | M. Ďurčo</b>, Austria: Developing an archive for archaeological data: the ‘A puzzle in 4D’ project. At: CRM-SIG meeting 7 - 9 December, 2016 Berlin, Germany (<a href="http://www.cidoc-crm.org/sig-meetings" target="_blank">http://www.cidoc-crm.org/sig-meetings</a>) : The 37th joined meeting of the CIDOC CRM SIG and ISO/TC46/SC4/WG9 and the 30th FRBR - CIDOC CRM Harmonization meeting.</li>
               <li><b>E. Aspöck | G. Geser</b>, Austria, ‚Introduction: Long-term preservation and access: Where is an archive for my data?’ At: CHNT 2016, 16.–18. November ‚Cultural Heritage and New Technologies (CHNT) ‚Round table Long-term preservation and access: Where is an archive for my data?‘, Vienna, Austria. <a href="http://www.ariadne-infrastructure.eu/ger/Resources/Presentations/CHNT-2016" target="_blank">http://www.ariadne-infrastructure.eu/ger/Resources/Presentations/CHNT-2016</a></li>
               <li><b>E. Aspöck | G. Hiebel | M. Ďurčo</b>, Austria, <a href="http://www.chnt.at/developing-an-archive-for-archaeological-data-the-a-puzzle-in-4d-project/" target="_blank">Developing an archive for archaeological data: the ‘A puzzle in 4D’ project</a>. At: CHNT 2016, 16.–18. November ‚Cultural Heritage and New Technologies‘ (CHNT) Session, Vienna, Austria.  ‚<a href="http://www.chnt.at/preservation-and-re-use-of-digital-archaeological-research-data-with-open-archival-information-systems/" target="_blank">Preservation and Re-Use of Digital Archaeological Research Data with Open Archival Information Systems</a>‘</li>
               <li><b>V. Müller</b>, ‚Bericht zu den ägyptologischen Aktivitäten des Institutes für Orientalische und Europäische Archäologie (OREA) der ÖAW.’ At: 48. Ständige Ägyptologen Konferenz 15.-17. Jul. 2016, Vienna, Austria <a href="http://www.univie.ac.at/egyptology/saek2016.html" target="_blank">http://www.univie.ac.at/egyptology/saek2016.html</a></li>
               <li><b>M. Kucera | W. Neubauer | S. Müller | N. Doneus</b>, ‚The Tell el Daba Archaeological Information System: adding the fourth dimension to legacy datasets of long -term excavations (A puzzle in 4D)’ 28. April 2016 <a href="http://www.orea.oeaw.ac.at/10icaane.html.html" target="_blank">ICAANE Workshop ‚Old Excavation Data – What can we do?’ 28.April 2016</a></li>
               <li><b>E. Aspöck | K. Kopetzky | G. Hiebel</b>, ‚Archiving digital and analogue resources of the Tell el Daba excavations (A puzzle in 4D).’ At ICAANE Workshop ‚Old Excavation Data – What can we do?’ 28. April 2016 <a href="http://www.orea.oeaw.ac.at/10icaane.html.html" target="_blank">ICAANE Workshop ‚Old Excavation Data – What can we do?’ 28.April 2016</a> </li>
               <li><b>E. Aspöck</b>, ‚A puzzle in 4D: digital preservation and reconstruction of an Egyptian palace.’ At 2nd DHA Conference 2015, (Vienna December 2015). <a href="http://bit.ly/2ux9isb" target="_blank">http://bit.ly/2ux9isb </a></li>
               <li><b>E. Aspöck | K. Kopetzky | B. Horejs | M. Bietak | M. Kucera | W. Neubauer</b>, ‚A Puzzle in 4D. Digital Preservation and Reconstruction of an Egyptian Palace.’ Poster presentation at Digital Heritage International Congress 2015, (Granada September 2015). </li>
               <li><b>B. Horejs | W. Neubauer</b>, ‚A puzzle in 4D – digital preservation and reconstruction of an Egyptian palace.’ At Österreichische Tage der Digitalen Geisteswissenschaften 2014,  1.-3. Dec., Vienna, Austria <a href="https://www.oeaw.ac.at/oesterreichische-akademie-der-wissenschaften/die-oeaw/article/digital-humanities-tage" target="_blank">https://www.oeaw.ac.at/oesterreichische-akademie-der-wissenschaften/die-oeaw/article/digital-humanities-tage</a></li>
             </ul>
             <div class="text-center">
                 <h1>Conferences and workshops attended</h1>
                 <hr style="border-color:#83C653; border-width: 2px" width="10%">
               </div>
               <ul>
                 <li><b>Open Science Workshop 2017</b>: 20. Sept., Vienna, Austria <a href="https://okfn.at/2017/07/17/save-the-date-open-science-workshop-with-bianca-kramer-and-jeroen-bosman/" target="_blank">https://okfn.at/2017/07/17/save-the-date-open-science-workshop-with-bianca-kramer-and-jeroen-bosman/</a></li>
                 <li><b>SÄK - 49. Ständige Ägyptologenkonferenz 2017</b>, 14.-16. Jul., Göttingen, Germany <a href="https://www.uni-goettingen.de/de/bericht+der+st%c3%a4ndigen+%c3%84gyptologenkonferenz+%28s%c3%84k%29+2017/570694.html" target="_blank">https://www.uni-goettingen.de/de/bericht+der+st%c3%a4ndigen+%c3%84gyptologenkonferenz+%28s%c3%84k%29+2017/570694.html</a></li>
                 <li><b>38th CRM-SIG meeting 2017 Crete</b>: 3.-6. Apr., Crete, Greece <a href="http://www.cidoc-crm.org/sig-meetings" target="_blank">http://www.cidoc-crm.org/sig-meetings </a></li>
                 <li><b>37th CRM-SIG meeting 2016 Berlin</b>: 7. – 9. Dec., Berlin, Germany <a href="http://www.cidoc-crm.org/sig-meetings" target="_blank">http://www.cidoc-crm.org/sig-meetings</a></li>
                 <li><b>3<sup>rd</sup> Digital Humanities Austria Conference 2016</b>, 5.-6. Dec., Vienna, Austria. <a href="http://www.digital-humanities.at/en/dha/s-news/3rd-dha-conference-dha2016" target="_blank">http://www.digital-humanities.at/en/dha/s-news/3rd-dha-conference-dha2016</a></li>
                 <li><b>Cultural Heritage and New Technologies CHNT 2016</b>, 16.–18. Nov., Vienna, Austria. <a href="http://www.chnt.at/" target="_blank">http://www.chnt.at/</a></li>
                 <li><b>SÄK – 48. Ständige Ägyptologenkonferez 2016</b>, 15.-17. Jul., Vienna, Austria <a href="https://kalender.univie.ac.at/einzelansicht/?tx_univieevents_pi1%5Bid%5D=13758" target="_blank">https://kalender.univie.ac.at/einzelansicht/?tx_univieevents_pi1%5Bid%5D=13758</a></li>
                 <li><b>ARIADNE TNA Summer School: Individual training: Mapping existing datasets to CIDOC-CRM (PIN), 2016</b>, 23.-27. May, Prato, Italy. <a href="http://www.ariadne-infrastructure.eu/Transnational-Access/2016-TNA-Call" target="_blank">http://www.ariadne-infrastructure.eu/Transnational-Access/2016-TNA-Call</a></li>
                 <li><b>ICAANE 2016 Vienna, 25. – 29. Apr., Vienna</b>, Austria. <a href="http://www.orea.oeaw.ac.at/10icaane.html/" target="_blank">http://www.orea.oeaw.ac.at/10icaane.html/</a></li>
                 <li><b>ARIADNE Datenmanagement workshop</b>, 19. Jan. 2016, Vienna, Austria <a href="http://www.ariadne-infrastructure.eu/Events/ARIADNE-workshop-Vienna" target="_blank">http://www.ariadne-infrastructure.eu/Events/ARIADNE-workshop-Vienna</a></li>
                 <li><b>2<sup>nd</sup> Digital Humanities Austria Conference 2015</b>, 30. Nov. – 1. Dec., Vienna, Austria. <a href="http://www.acdh.ac.at/en/dha/s-news/2nd-dha-conference-dha2015" target="_blank">http://www.acdh.ac.at/en/dha/s-news/2nd-dha-conference-dha2015</a> </li>
                 <li><b>Digital Heritage International Congress 2015</b>, 28. Sept. - 2. Oct., Granada, Spain. <a href="http://www.digitalheritage2015.org/" target="_blank">http://www.digitalheritage2015.org/</a></li>
                 <li><b>ARIADNE TNA Summer School: Design of Archaeological Datasets, 2015</b>, 5.-11. Jul., Pisa, Italy. <a href="http://ariadne-infrastructure.eu/ita/News/Summer-school" target="_blank">http://ariadne-infrastructure.eu/ita/News/Summer-school</a></li>
                 <li><b>Automated Recognition and Transcription of Handwritten Documents for Humanities Scholars, Archives and Libraries. Technology, Perspectives and Hands-on Workshop, 2015</b>, 16. Jun., Vienna, Austria. <a href="https://www.oeaw.ac.at/en/acdh/events/event-detail/article/acdh-tool-gallery-11-automated-recognition-and-transcription-of-handwritten-documents/" target="_blank"> https://www.oeaw.ac.at/en/acdh/events/event-detail/article/acdh-tool-gallery-11-automated-recognition-and-transcription-of-handwritten-documents/</a></li>
                 <li><b>Creative Commons in den Wissenschaften, 2015</b>, 3. Mar., Vienna, Austria</li>
                 <li><b>Österreichische Tage der Digitalen Geisteswissenschaften 2014</b>,  1.-3. Dec., Vienna, Austria. <a href="https://www.oeaw.ac.at/oesterreichische-akademie-der-wissenschaften/die-oeaw/article/digital-humanities-tage" target="_blank">https://www.oeaw.ac.at/oesterreichische-akademie-der-wissenschaften/die-oeaw/article/digital-humanities-tage</a></li>
                 <li><b>Save the Data workshop</b>, 2. Dec.2014, Vienna, Austria. <a href="http://www.orea.oeaw.ac.at/veranstaltungen/event-detail/article/save-the-data/" target="_blank">http://www.orea.oeaw.ac.at/veranstaltungen/event-detail/article/save-the-data/</a></li>
               </ul>
               <div class="text-center">
                   <h1>Press</h1>
                   <hr style="border-color:#83C653; border-width: 2px" width="10%">
                 </div>
               <ul>
               <li><i>Article in Austrian Newspaper ‚Der Standard’</i> <a href="http://derstandard.at/2000058556918/Aegypten-Die-Wiederauferstehung-eines-Palastes" target="_blank">http://derstandard.at/2000058556918/Aegypten-Die-Wiederauferstehung-eines-Palastes</a> (01.06.2017)</li>
             </ul>
             <div class="text-center">
                 <h1>Social media</h1>
                 <hr style="border-color:#83C653; border-width: 2px" width="10%">
               </div>
             <ul>
             <li>OREA tweets (@OREA_DigArch): <a href="https://twitter.com/orea_digarch" target="_blank">https://twitter.com/orea_digarch</a></li>
             <li>LBI tweets (@lbiarchpro): <a href="https://twitter.com/lbiarchpro" target="_blank">https://twitter.com/lbiarchpro</a></li>
             <li>LBI facebook postings: <a href="https://www.facebook.com/Ludwig-Boltzmann-Institute-ArchPro-251867248226390/ " target="_blank">https://www.facebook.com/Ludwig-Boltzmann-Institute-ArchPro-251867248226390/</a> (24.02.2016, 18.07.2016, 08.02.2017, 01.06.2017)</li>
             <li>LBI Instagram: <a href="https://www.instagram.com/lbi_archpro/" target="_blank">https://www.instagram.com/lbi_archpro/</a> (16.02.2017)</li>
           </ul>

           <div class="text-center">
               <h1>Web</h1>
               <hr style="border-color:#83C653; border-width: 2px" width="10%">
             </div>
           <ul>
            <li>ÖAW Website: <a href="https://www.oeaw.ac.at/en/austrian-academy-of-sciences/the-oeaw/article/ein-puzzle-in-4d/" target="_blank">https://www.oeaw.ac.at/en/austrian-academy-of-sciences/the-oeaw/article/ein-puzzle-in-4d/</a>(02.06.2015)</li>
            <li>OREA Website: <a href="http://www.orea.oeaw.ac.at/forschung/digital-archaeology/a-puzzle-in-4d/" target="_blank">http://www.orea.oeaw.ac.at/forschung/digital-archaeology/a-puzzle-in-4d/</a></li>
            <li>ACDH Website: <a href="https://www.oeaw.ac.at/en/acdh/projects/tell-el-daba/" target="_blank">https://www.oeaw.ac.at/en/acdh/projects/tell-el-daba/</a></li>
            <li>LBI ArchPro Website – project presentation: <a href="http://archpro.lbg.ac.at/puzzle-4d-digital-preservation-and-reconstruction-egyptian-palace" target="_blank">http://archpro.lbg.ac.at/puzzle-4d-digital-preservation-and-reconstruction-egyptian-palace</a></li>
            <li>LBI ArchPro Website – Case Studies: <a href="http://lbi-archpro.org/cs/ted/" target="_blank">http://lbi-archpro.org/cs/ted/</a></li>
          </ul>
          </div>
        </div>
    </div>
</div>
{% endblock %}
