{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block content %}
<div class="container-planning" style="padding-bottom:150px;">
    <div class="container">
		<div class="text-center">
			<h1>Publications</h1>
			<hr style="border-color:#83C653; border-width: 2px" width="10%">
		</div>
		<div class="row">
				<div class="col-lg-12" style="">

					<h4>Editorial</h4>
					<ul>
						<li><b>E. Aspöck - S. Štuhec - K. Kopetzky - M. Kucera</b> (eds.) (in preparation), "Old excavation data – what can we do?". Proceedings from workshop at 10th ICAANE. OREA Series (Vienna).</li>
				  </ul>
					 <h4>Conference proceedings</h4>
					 <ul>
						 <li><b>E. Aspöck</b>, "Introduction: Old excavation data – what can we do?". Proceedings from workshop at 10th ICAANE. OREA Series (Vienna).</li>
             <li><b>E. Aspöck - G. Hiebel - K. Kopetzky -  M. Durco</b> (submitted for review), "A puzzle in 4D: Archiving digital and analogue resources of the Austrian excavations at Tell el Daba, Egypt", in: "Old excavation data – what can we do?". Proccedings from workshop at 10th ICAANE. OREA Series (Vienna).</li>
             <li><b>E. Aspöck – K. Kopetzky – B. Horejs – M. Bietak – M. Kucera – W. Neubauer</b>, "A Puzzle in 4D. Digital Preservation and Reconstruction of an Egyptian Palace." Proceedings of the Digital Heritage International Congress held in Granada, 28 September–2 October 2015, doi: 10.1109/DigitalHeritage.2015.7419596.</li>
					 </ul>
				</div>
			</div>
      <div class="text-center">
        <h1>Events</h1>
        <hr style="border-color:#83C653; border-width: 2px" width="10%">
      </div>
      <div class="row">
          <div class="col-lg-12" style="">

            <h4>Organized workshops</h4>
            <ul>
              <li>Organisation of ICAANE Workshop “Old Excavation Data – What can we do?” (Vienna April 2016) <a href="https://www.oeaw.ac.at/fileadmin/Institute/OREA/pdf/events/ICAANE_2016_Program.pdf" target="_blank">https://www.oeaw.ac.at/fileadmin/Institute/OREA/pdf/events/ICAANE_2016_Program.pdf</a></li>
              <li>Organisation of CHNT Round table Long-term preservation and access: Where is an archive for my data? (Vienna November 2016) <a href="http://www.ariadne-infrastructure.eu/ita/Events/CHNT-2016" target="_blank">http://www.ariadne-infrastructure.eu/ita/Events/CHNT-2016</a></li>
            </ul>
             <h4>Scientific Presentations</h4>
             <ul>
               <li><b>E. Aspöck - G. Hiebel - M. Durco</b>, "<a href="http://www.chnt.at/developing-an-archive-for-archaeological-data-the-a-puzzle-in-4d-project/" target="_blank">Developing an archive for archaeological data</a>: the ‘A puzzle in 4D’ project." At: CHNT 2016, Session <a href="http://www.chnt.at/preservation-and-re-use-of-digital-archaeological-research-data-with-open-archival-information-systems/" target="_blank">Preservation and Re-Use of Digital Archaeological Research Data with Open Archival Information Systems</a>, (Vienna November 2016). Presentation available for download: <a href="https://www.ianus-fdz.de/documents/83" target="_blank">https://www.ianus-fdz.de/documents/83</a></li>
               <li><b>E. Aspöck - G. Hiebel - K. Kopetzky</b>, "Archiving digital and analogue resources of the Tell el Daba excavations (A puzzle in 4D) ". ICAANE Workshop Old Excavation Data – What can we do?, (Vienna April 2016) <a href="https://www.oeaw.ac.at/fileadmin/Institute/OREA/pdf/events/ICAANE_2016_Program.pdf" target="_blank">https://www.oeaw.ac.at/fileadmin/Institute/OREA/pdf/events/ICAANE_2016_Program.pdf</a></li>
               <li><b>M. Kucera – W. Neubauer – S. Müller – N. Doneus</b>, "The Tell el Daba Archaeological Information System: adding the fourth dimension to legacy datasets of long -term excavations (A puzzle in 4D) ". (Vienna April 2016) <a href="https://www.oeaw.ac.at/fileadmin/Institute/OREA/pdf/events/ICAANE_2016_Program.pdf" target="_blank">https://www.oeaw.ac.at/fileadmin/Institute/OREA/pdf/events/ICAANE_2016_Program.pdf</a></li>
               <li><b>E. Aspöck – G. Geser</b>, Introduction: "Long-term preservation and access: Where is an archive for my data?" At: CHNT 2016, Round table Long-term preservation and access: Where is an archive for my data? , (Vienna November 2016). <a href="http://www.ariadne-infrastructure.eu/ger/Resources/Presentations/CHNT-2016" target="_blank">http://www.ariadne-infrastructure.eu/ger/Resources/Presentations/CHNT-2016</a></li>
               <li><b>E. Aspöck - G. Hiebel - M. Durco</b>, "Developing an archive for archaeological data: the ‘A puzzle in 4D’ project." At: CRM-SIG meeting 7 - 9 December, (Berlin December 2016). <a href="http://www.cidoc-crm.org/sig-meetings" target="_blank">http://www.cidoc-crm.org/sig-meetings</a></li>
               <li><b>E. Aspöck – K. Kopetzky – B. Horejs – M. Bietak – M. Kucera – W. Neubauer</b>, "A Puzzle in 4D. Digital Preservation and Reconstruction of an Egyptian Palace." Poster presentation Digital Heritage International Congress 2015, (Granada September 2015).</li>
               <li><b>E. Aspöck</b>, "A puzzle in 4D: digital preservation and reconstruction of an Egyptian palace." 2nd DHA Conference 2015, (Vienna December 2015). <a href="http://bit.ly/2ux9isb" target="_blank">http://bit.ly/2ux9isb </a></li>
             </ul>
          </div>
        </div>
    </div>
</div>
{% endblock %}
