{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block content %}
<div class="container-planning" style="padding-bottom:150px;">
    <div class="container">
		<div class="text-center">
			<h1>Events</h1>
			<hr style="border-color:#83C653; border-width: 2px" width="10%">
		</div>
		<div class="row">
				<div class="col-lg-12" style="">

					<h4>Conferences and workshops attended</h4>
					<ul>
						<li>ICAANE 2016 Vienna <a href="http://www.orea.oeaw.ac.at/10icaane.html" target="_blank">http://www.orea.oeaw.ac.at/10icaane.html</a></li>
						<li>Cultural Heritage and New Technologies CHNT 2016, 16.–18. Nov. <a href="http://www.chnt.at/" target="_blank">http://www.chnt.at/</a></li>
						<li>CRM-SIG meeting 2016 Berlin (<a href="http://www.cidoc-crm.org/sig-meetings" target="_blank">http://www.cidoc-crm.org/sig-meetings</a>): The 37th joined meeting of the CIDOC CRM SIG and ISO/TC46/SC4/WG9 and the 30th FRBR - CIDOC CRM Harmonization meeting</li>
						<li>SÄK – 48. Ständige Ägyptologenkonferez 2016, 15.-17. July <a href="https://kalender.univie.ac.at/einzelansicht/?tx_univieevents_pi1%5Bid%5D=13758" target="_blank">https://kalender.univie.ac.at/einzelansicht/?tx_univieevents_pi1%5Bid%5D=13758</a></li>
					</ul>
					<h4>Organized workshops</h4>
					<ul>
						<li>Organisation of ICAANE Workshop “Old Excavation Data – What can we do?” <a href="http://www.orea.oeaw.ac.at/fileadmin/user_upload/veranstaltungen/2016/Workshops_ICAANE/Old_excavation_data_%E2%80%93_What_can_we_do.pdf" target="_blank">http://www.orea.oeaw.ac.at/fileadmin/user_upload/veranstaltungen/2016/Workshops_ICAANE/Old_excavation_data_%E2%80%93_What_can_we_do.pdf
</a><br>
						(Organizers: Edeltraud Aspöck, Karin Kopetzky, Seta Štuhec (OREA, ÖAW) Matthias Kucera (LBI ArchPro)). In this workshop projects dealing with resources from older or long-term excavations were brought together to discuss preservation strategies and cases of reuse. The discussions headed to how digitization strategies for vast amounts of analogue resources can be improved, how heterogeneous datasets of long-term projects can be integrated and finding ways to apply new digital methods to legacy datasets.</li>
						<li>Organisation of CHNT Round table Long-term preservation and access: Where is an archive for my data? <a href="http://www.ariadne-infrastructure.eu/ita/Events/CHNT-2016" target="_blank">http://www.ariadne-infrastructure.eu/ita/Events/CHNT-2016</a>
						 (Organizers: ARIADNE partners Edeltraud Aspöck (OREA), Guntram Geser (Salzburgresearch)) This round table raised many issues related to archaeological data archiving: political situation, standards, practicalities.</li>
					 </ul>
					 <h4>Scientific Presentations</h4>
					 <ul>
						 <li>Aspöck, Edeltraud | Kopetzky, Karin | Hiebel, Gerald, „Archiving digital and analogue resources of the Tell el Daba excavations (A puzzle in 4D)” ICAANE Workshop “Old Excavation Data – What can we do?” 28.April 2016 )” ICAANE Workshop “Old Excavation Data – What can we do?” 28.April 2016</li>
						 <li>Matthias Kucera | Wolfgang Neubauer | Sandra Müller | Nives Doneus, „The Tell el Daba Archaeological Information System: adding the fourth dimension to legacy datasets of long -term excavations (A puzzle in 4D) ” 28.April 2016 )” ICAANE Workshop “Old Excavation Data – What can we do?” 28.April 2016</li>
						 <li>Edeltraud ASPÖCK | Gerald HIEBEL | Matej DURCO, Austria, Developing an archive for archaeological data: the ‘A puzzle in 4D’ project. At: CHNT 2016, 16.–18. November „Cultural Heritage and New Technologies“ (CHNT) Session  „Preservation and Re-Use of Digital Archaeological Research Data with Open Archival Information Systems”</li>
						 <li>Edeltraud ASPÖCK | Guntram GESER, Austria, „Introduction: Long-term preservation and access: Where is an archive for my data?” At: CHNT 2016, 16.–18. November „Cultural Heritage and New Technologies“ (CHNT) „Round table Long-term preservation and access: Where is an archive for my data?” <a href="http://www.ariadne-infrastructure.eu/ger/Resources/Presentations/CHNT-2016" target="_blank">http://www.ariadne-infrastructure.eu/ger/Resources/Presentations/CHNT-2016</a></li>
						 <li>Edeltraud ASPÖCK | Gerald HIEBEL | Matej DURCO, Austria: Developing an archive for archaeological data: the ‘A puzzle in 4D’ project. At: CRM-SIG meeting 7 - 9 December, 2016 Berlin (<a href="http://www.cidoc-crm.org/sig-meetings" target="_blank">http://www.cidoc-crm.org/sig-meetings</a>) : The 37th joined meeting of the CIDOC CRM SIG and ISO/TC46/SC4/WG9 and the 30th FRBR - CIDOC CRM Harmonization meeting.</li>
					 </ul>
				</div>
			</div>
    </div>
</div>
{% endblock %}
