{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block content %}
<div class="container-planning">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Digital Archive</li>
      <li class="breadcrumb-item">Explore TD resources</li>
    </ol>
		<div class="text-center">
			<h1>Explore TD resources</h1>
			<hr style="border-color:#83C653; border-width: 2px" width="10%">
		</div>
    <div class="row">
			<div class="col-md-12">
      <p>
        Here you have access to analogue TD resources which have been digitized (scanned and provided with metadata) already. You can query field drawings and photos.<br>
        (<a href="{% url 'webpage:staticpage' template='archive' %}" target="_blank">Information on the creation of the Tell el-Daba digital archive</a>)
        <ul>
          <li><a href="{% url 'browsing:browse_fielddrawings' %}">field drawings</a></li>
          <li><a href="{% url 'browsing:browse_fotos' %}">photos</a> </li>
          <li><a href="{% url 'sparql:query' %}">via SPARQL</a></li>
        </ul>
      </p>


			</div>
		</div>
  </div>
</div>
{% endblock %}
