{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block content %}
<div class="container-planning" style="padding-bottom:150px;">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Tell el-Daba 4D</li>
        <li class="breadcrumb-item">GIS project</li>
      </ol>
		<div class="text-center">
			<h1>GIS project </h1>
			<hr style="border-color:#83C653; border-width: 2px" width="10%">
		</div>
        <div class="row">
					<div class="col-md-4">
            <ul class="images">
              <img class="img-responsive" style=" width:300px; margin-bottom: 0px; margin-top:30px;" src="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/GIS_project.jpg" originalUrl="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/GIS_project.jpg" alt="Screenshot of the GIS project in QGIS."/>
              <p class="description"><b>Figure 1</b>: Screenshot of the GIS project in QGIS.</p>
            </ul>
        <br />
				<br />

			</div>
			<div class="col-md-8">
				<p>
          To test the <a href="https://4dpuzzle.orea.oeaw.ac.at/ais/" target="_blank">AIS</a> one area of Tell el Daba (F/I) which contains the remains of a palace, has been analysed. In this movie you can see how the GIS works with the stratigraphic sequencer for the analysis of stratigraphy (<a href="{% url 'webpage:staticpage' template='video_hmc' %}">HMC+ movie</a>).</p>
        </p>
        <h3>2D GIS online </h3>
        <p>
          You can explore square trench j/21 from excavation area F/I of Tell el-Daba in our web map. The focus of this map is on the digitisation of the features documented during the excavation and stratigraphy of square trench j/21, but you can also see the palace/villa found in F/I which was the basis for the reconstruction and movie, the excavation areas of Tell el-Daba and area grids. The photographed areas were symbolized with polygons and link to the photos in question in the 4DP archive
          For the visualisation we chose colours which resemble the natural colours of Tell el-Daba
        </p>
        <p>
          <a href="" target="_blank">Enter Here </a>
        </p>
			</div>

		</div>
    </div>
</div>

{% endblock %}
