{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %} Imprint {% endblock %}
{% block content %}
<div class="container-planning">
  <div class="container">
		<div class="text-center">
			<h1>Imprint | imprint</h1>
			<hr style="border-color:#83C653; border-width: 2px" width="10%">
		</div>
    <div class="row">
			<div class="col-md-12">
        <h2>Publishers</h2>
        <h3>Institute for European and Oriental Archaeology (OREA), Austrian Academy of Sciences (ÖAW)</h3>
          <ul>
            <li>Barbara Horejs </li>
            <li>Angela Schwab  </li>
            <li>Karin Kopetzky </li>
          </ul>
            <h4>OREA Digital Archaeology Research Group</h4>
          <p>
          <ul>
            <li>Edeltraud Aspöck </li>
            <li>Gerald Hiebel  </li>
            <li>Martina Simon </li>
            <li>Karl Burkhart </li>
            <li>Stefanie Fragner  </li>
            <li>Irene Petschko </li>
            <li>Julian Posch</li>
          </ul>
          </p>
          <h2>Technical Implementation and Design</h2>
          <h3>Austrian Center for Digital Humanities (ACDH) and Institute for Oriental and European Archaeology (OREA) Austrian Academy of Sciences (ÖAW) </h3>
          <p>
            <ul>
              <li>Matej Ďurčo </li>
              <li>Peter Andorfer  </li>
              <li>Karl Burkhart </li>
              <li>Gerald Hiebel </li>
              <li>Irene Petschko  </li>
            </ul>
          </p>
          <p>
            All content and services on this website are provided by: <br>
            Österreichische Akademie der Wissenschaften<br>
            Juristische Person öffentlichen Rechts (BGBl 569/1921 idF BGBl I 130/2003)<br>
            Dr. Ignaz Seipel-Platz 2, 1010 Wien, Österreich<br>
            E-Mail: <a href="mailto:orea@oeaw.ac.at">orea@oeaw.ac.at</a> | <a href="mailto:acdh-tech@oeaw.ac.at">acdh-tech@oeaw.ac.at</a> <br>
            </p>
      </div>
		</div>
  </div>
</div>
{% endblock %}
