{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block content %}
<div class="container-top">
    <div class="container" style="height:250px;">
        <div class="row">
                    <div class="col-md-12">
                <br>
                <br>
            </div>
        </div>
    </div>
</div>

<div class="container-welcome">
    <div class="container">
        <div class="text-center">
            <div class="row"><h1 style="">A Puzzle in 4D - Tell el-Daba<sup><a data-toggle="modal" href="#myModal"><i class="fa fa-info-circle" style="font-size:20px"aria-hidden="true"></i></a></sup></h1>
            <hr style="border-color:#83C653; border-width: 2px" width="10%">
            <h4>For an introduction to the A Puzzle in 4D project take <a href="http://arcg.is/2iPRXWr" target="_blank">the interactive guided tour</a> (story map).</h4>
            <p>The project A Puzzle in 4D aims to provide digital long-term preservation for the rich archaeological resources of the Austrian excavation project at Tell el-Daba in Egypt.
            Since 1966, Austrian excavations took place at Tell el-Daba (TD) in Egypt, an archaeological site revealing evidence from a society with contacts to many parts of the eastern Mediterranean dating to the 12th to 18th dynasties (early second millennium BC). After 50 years of fieldwork campaigns, the TD archive at OREA (Austrian Academy of Sciences) contains a huge and heterogeneous resource of digital and non-digital photographs, plans, drawings and written documentation.
            </p>
        </div>
    </div>
</div>
<div class="container-info">
    <div class="container">
        <div class="row text-center">
          <div class="col-md-6">
            <img class="img-responsive" style="border-radius:50%; width:400px;" src="{% static 'webpage/media/image1.png' %}" />
          </div>
          <div class="col-md-6">
              <p>In the A Puzzle in 4D project we prepare the archaeological resources of the TD excavations for digital long-term preservation and advanced spatio-temporal analysis based on international standards. Large parts of the TD archive will be made available open access online for researchers and the interested public. The project is a case study for the development of a repository for archaeological data at the ÖAW ACDH (Austrian Academy of Sciences, Austrian Center for Digital Humanities).</p>
              <p>On this website you will find information about the work we carry out in the <a href="{% url 'webpage:staticpage' template='about' %}"><i>A Puzzle in 4D project</i></a>. In the <a href="{% url 'webpage:staticpage' template='archive' %}"><i>Tell el-Daba digital archive</i></a> section you will find information on the approach we take to the development of the archive, with regular updates on where we stand at the moment. You can see reconstructions of excavation results on the <a href="{% url 'webpage:staticpage' template='reconstruct' %}"><i>Tell el-Daba 4D</i></a> pages and see how a spatio-temporal analysis of the complex resources can be carried out in an Archaeological-Information system. And, last but not least, you can visit the <a href="{% url 'webpage:staticpage' template='site' %}"><i>archaeological site</i></a> Tell el-Daba, providing information about the excavation results and their interpretation.</p>
          </div>
        </div>
    </div>
</div>

<div class="container-welcome">
    <div class="container"
        <div class="row" style="margin-top: 40px;">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-3">
                        <i class="fa fa-globe fa-4x" style="color: #83C653" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-9">
                        <h3>Archaeological Site</h3>
                        <p class="text-justify">Tell el Daba is an archaeological site situated in the eastern Nile delta regions of Egypt revealing archaeological evidence from the 12th to 18th dynasties (early second millennium BC). Excavations have revealed a wealthy society with contacts to many parts of the eastern Mediterranean.  </p>

                        <a href="{% url 'webpage:staticpage' template='site' %}" class="btn btn-default">Explore More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-3">
                        <i class="fa fa-database fa-4x" style="color: #83C653" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-9">
                        <h3>Tell el-Daba digital archive</h3>
                        <p class="text-justify">We have developed a data model based on the CIDOC CRM ontology and extensions that represents the excavated physical reality, the excavation activity, the documentation and the digitisation of the documentation.</p>
                        <a href="{% url 'webpage:staticpage' template='archive' %}" class="btn btn-default ">Explore More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-3">
                        <i class="fa fa-eye fa-4x" style="color: #83C653" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-9">
                        <h3>Tell el-Daba 4D</h3>
                        <p class="text-justify">The archaeological evidence of one part of the excavations (area F/I square j-21) has been reconstructed. A 4D archaeological information system has been developed to analyse the evidence. </p>

                        <a href="{% url 'webpage:staticpage' template='reconstruct' %}" class="btn btn-default">Explore More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Avaris</h4>
      </div>
      <div class="modal-body">
        <p>The Arabic name of the ancient town of Avaris is Tell el-Dabca, the hill of the hyaena.</p>
        <p>Since the name is transcribed from Arabic into Latin letters one can find several versions of the sites name in modern literature. The most common is Tell el-Dabca, one finds also Tell ed-Dabca, Tell el-Dab´a, Tell ed-Dab´a and the simple version, which was used here: <b>Tell el-Daba</b>.</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
{% endblock %}
