{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block content %}
<div class="container-planning" style="padding-bottom:150px;">
    <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">About the project</li>
      <li class="breadcrumb-item"><a href="{% url 'webpage:staticpage' template='archive' %}">Creation of the digital archive</a></li>
      <li class="breadcrumb-item">Data integration</li>
    </ol>

		<div class="text-center">
			<h1>TD documentation archive in ARCHE</h1>
			<hr style="border-color:#83C653; border-width: 2px" width="10%">
		</div>
        <div class="row">
					<div class="col-md-4">
            <ul class="images">
              <img class="img-responsive" style=" width:300px; margin-bottom: 0px; margin-top:30px;" src="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/integration02.jpeg" originalUrl="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/integration02.jpeg" alt="System architecture and workflow."/>
              <p class="description"><b>Figure 1</b>: System architecture and workflow.
              <img class="img-responsive" style=" width:300px; margin-bottom: 0px; margin-top:30px;" src="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/structure_arche.png" originalUrl="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/structure_arche.png" alt="Structure of TD documentation archive."/>
              <b>Figure 2</b>: Structure of TD documentation archive.</p>
            </ul>
        <br />
				<br />

			</div>
			<div class="col-md-8">
				<p>
          All the material processed in the project will be archived in the repository ARCHE. In accordance with OAIS model, ARCHE is not just meant to store the data (Archival Information Package) but also making it available (Dissemination Information Package). Given the access restrictions, most of the digitized resources won’t be publicly available, however at least the structure of the whole collection as well as all the metadata, with important information about the contents of resources, will be accessible.
          Furthermore, there are additional components of the overall solution that allow alternative ways for exploring the  dataset (Figure 1):
        </p>
        <p>
          <ul>
            <li>primary entry point and dissemination channel is the web application 4dpuzzle. It has been developed at the ACDH-OeAW based upon the high-level Python Web framework django and a set of custom developed django packages: <a href="{% url 'webpage:staticpage' template='explore' %}">https://4dpuzzle.orea.oeaw.ac.at/explore/</a> (test version). The webapp offers a user friendly interface to query and view the project data, serves as a gateway to other data providers (ARCHE, triple store, Geoserver) and provides a rich API to search and retrieve data in different formats (JSON expression of the relational data model; ARCHE-RDF). The webapp is also used to provide information about the project. The code of the webapp is available at <a href="https://github.com/acdh-oeaw/4dpuzzle" target="_blank">https://github.com/acdh-oeaw/4dpuzzle</a> und MIT license. </li>
            <li>scanned images are served via a IIIF server a community standard for image delivery. (<a href="http://iiif.io/" target="_blank">http://iiif.io/</a>)</li>
            <li>metadata in CIDOC-CRM is stored in a triple store, allowing exploration for expert users with arbitrarily complex queries using SPARQL query language either through the default blazegraph query interface (<a href="https://p4d-rdf.acdh-dev.oeaw.ac.at/#query" target="_blank">https://p4d-rdf.acdh-dev.oeaw.ac.at/#query</a>) or from the 4DP webapp (<a href="https://4dpuzzle.orea.oeaw.ac.at/sparql/query/" target="_blank">https://4dpuzzle.orea.oeaw.ac.at/sparql/query/</a>).</li>
            <li>Parallel to the development of the main application, we have experimented with software solutions for querying our metadata triple store via a user-friendly web-interface (Metaphacts, wisKI: <a href="http://www.metaphacts.com/" target="_blank">http://www.metaphacts.com/</a>, <a href="http://wiss-ki.eu/" target="_blank">http://wiss-ki.eu/</a>).</li>
          </ul>
        </p>
        <p>
          <b>ARCHE</b> (<a href="https://arche.acdh.oeaw.ac.at" target="_blank">https://arche.acdh.oeaw.ac.at</a>) is run by ACDH, was launched in December 2017 and is a repository certified with the CoreTrustSeal. ARCHE is primarily intended to be a service for long term storage of  humanities data in Austria. The repository builds on the well-established open-source repository software Fedora Commons version 4 which provides a sound technological basis for implementing the OAIS (Open Archival Information System) reference model by taking care of storage, management and dissemination of our content.
        </p>
        <p>
          The deposition of the data into ARCHE has been a complex, iterative process, in which the actual ingestion (i.e. uploading data into the system) is only the last part. The two other critical aspects were the creation of metadata compliant to the ARCHE metadata schema (already described in section 1.3.8), and the curation and quality checks regarding filename conventions, formats, consistency of descriptions etc. The quality checks were performed by ARCHE curators with the help of a dedicated script (repo-file-checker). All errors were reported back to the 4DP team with request for corrections. After corrections were either applied manually or automated with scripts, the quality checks were executed again by the ARCHE. These iterations were repeated until no errors occurred.
        </p>
        <p>
          Given the sheer size of the dataset and a number of external factors this curation and ingestion process ran over most of 2019, first test ingest with resources from F-I performed in the beginning of 2019. The actual ingest of TD data and prepared metadata is done by the ARCHE team, while the 4DP team remains available for questions and any required feedback. The final ingest of over 122000 files with overall volume of around 9.6 TB will start in January 2020, but it will take time and may need time after the end of the month when 4DP project finishes.
        </p>
        <p>
          The TD documentation archive is available at <a href="https://id.acdh.oeaw.ac.at/td-archiv" target="_blank">https://id.acdh.oeaw.ac.at/td-archiv</a> and it will also persistently referenceable with the handle <a href="http://hdl.handle.net/21.11115/0000-000C-4F1C-E" target="_blank">http://hdl.handle.net/21.11115/0000-000C-4F1C-E</a>.
        </p>
        <p>
          Data in the TD documentation archive is structured according to the contents of documents, containing four main folders related to 1. Documents with information about the TD documentation archive (AboutThisArchive_Archivinformation_E73), 2. Documents about field evidence (PhysicalFeatures_Befunde_S20) , 3. Documents about finds (MobileObjects_Funde_E19) and 4. other documentation, either related to both, finds and field evidence or to other types of documents, e.g. literature, 3D models, and photos without file level metadata pertaining to both, field evidence and finds (OtherDocuments_AndereDokumente_E73).
        </p>
      </div>
		</div>
    </div>
</div>

{% endblock %}
