{% extends "webpage/base.html" %}
{% load static %}
{% load webpage_extras %}
{% block content %}
<div class="container-planning">
  <div class="container">
		<div class="text-center">
			<h1>Using and Citing A Puzzle in 4D</h1>
			<hr style="border-color:#83C653; border-width: 2px" width="10%">
		</div>
    <div class="row">
			<div class="col-md-12">
      <p>
      Unless stated otherwise, all A Puzzle in 4D online data is licensed by OREA ÖAW under the <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a> license. As such, you are free to share, use and remix A Puzzle in 4D data, as long as you attribute the source data accordingly.
      </p>
      <p>
      When citing A Puzzle in 4D records please refer to the URL of the site and the date accessed.
      Example of citation:<br>
      A Puzzle in 4D, <i>https://4dpuzzle.orea.oeaw.ac.at/site/</i>, (29/09/2017).
      </p>
			</div>
		</div>
  </div>
</div>

{% endblock %}
