{% extends "webpage/base.html" %}
{% load static %}
{% load webpage_extras %}
{% block content %}
<div class="container-planning" style="padding-bottom:150px;">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">About the project</li>
        <li class="breadcrumb-item"><a href="{% url 'webpage:staticpage' template='archive' %}">Creation of the digital archive</a></li>
        <li class="breadcrumb-item">Metadata</li>
      </ol>
		<div class="text-center">
			<h1>Metadata concepts and workflow </h1>
			<hr style="border-color:#83C653; border-width: 2px" width="10%">
		</div>
        <div class="row">
					<div class="col-md-4">
            <ul class="images">
      				<img class="img-responsive" style=" width:300px; margin-bottom: 0px; margin-top:30px;" src="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/archive_fig1_tumb.jpeg" originalUrl="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/archive_fig1.jpeg" alt="Main categories of physical reality, documentation and digitizing processes."/>
              <p class="description"><b>Figure 1</b>: Main categories of physical reality, documentation and digitising processes.
              <img class="img-responsive" style=" width:300px; margin-bottom: 0px; margin-top:30px;" src="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/metadata_entry.png" originalUrl="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/metadata_entry.png" alt="Metadata created for TD resources and documented object."/>
              <b>Figure 2</b>: Metadata created for TD resources and documented object.
              <img class="img-responsive" style=" width:300px; margin-bottom: 0px; margin-top:30px;" src="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/integration02.jpeg" originalUrl="https://shared.acdh.oeaw.ac.at/4dpuzzle/media/integration02.jpeg" alt="Metadata management and controlled vocabularies."/>
              <b>Figure 3</b>: System architecture and workflow.
            </p>
            </ul>
        <br />
				<br />

			</div>
			<div class="col-md-8">
				<p>
          The 4DP metadata model distinguishes five main categories distinct in their nature: excavation areas, archaeological features and finds, documentation (analogue & digital), physical storage and digital secondary documentation (Figure 1).
        </p>
        <p>
          In very simple terms it can be said that the physical reality of archaeological features and finds (including archaeological objects, i.e. buildings, graves, pottery created in the distant past that were found in specific excavation areas (excavation objects such as squares and areas created by the archaeologists in the not so distant past) are documented in analogue and digital documentation. This documentation, which is stored in either physical archives (OREA or archive in Cairo) or digitally on the OREA network drive (‘TD Archive’ folder) is digitised (if analogue) or prepared for digital preservation (if born-digital) in the Puzzle 4D project.
        </p>
        <p>
          Consequently, the 4DP metadata contains the following types of information:
          <ul>
            <li>Information on file: filename, -identifier, -title</li>
            <li>Description of documentation (analogue or born-digital): e.g. document type, creator, creation date/excavation season, physical/digital storage, comments</li>
            <li>Information on archaeological context (physical reality): e.g. excavation objects, archaeological objects, finds</li>
            <li>Information on digitisation and/or preparation for digital long-term archiving: e.g. scanner, creator of scan and metadata, comments, etc.</li>
            <li>Information on access and copyright</li>
          </ul>
        </p>
          <p>
            Metadata fields were reviewed in 2017 (for midterm evaluation) and fields that were not important or redundant were removed.
          </p>
          <p>
            We chose spreadsheets (MS Excel) for the metadata entry and management of the controlled vocabularies (Figure 2). The metadata master file contained metadata of physical objects such as excavation objects, archaeological objects, finds, bulk finds (convolutes, animal bones, stone registry), locus, stratum/phase. 4DPuzzle identifiers (for archaeological objects and finds without TD inventory numbers) and a list of terms to specify types of archaeological objects (for data entry) are included in the metadata master file. Identifiers for physical objects relate the resource files to the metadata master file.
          </p>
          <p>
            We found the flexibility offered by MS Excel was an advantage compared to other systems which would need development of a user interface or customisation of an existing interface to accommodate the needs of the project. Another big advantage is that users are accustomed to this default piece of office software. After defining the main categories of the data structure and creating an identifier policy we could immediately start the metadata entry process. Furthermore, Excel allows to enter values quickly (e.g. entering the same value to many cells at the same time, where a database only allows to enter one value at a time), which was another important argument to stick with Excel.
          </p>
          <p>
            Disadvantages are that this method is more prone to errors, as identifier handling and management is performed by humans and requires constant monitoring and regular quality assessment. Quality control took place when data from the spreadsheets was further processed, creating the Knowledge Graph and ingesting into the 4DP webapp, which helped to identify errors and inconsistencies in data entries. Several rounds of corrections were required, however, we still think that this workflow allowed to process a larger amount of resources than we would have been able to handle with entering data in a database via an entry form, where data entry would have been much slower, let alone the substantial amount of work that would be needed to develop such a bespoke database application. Only few students were involved in data entry and they became experts in TD documentation and were also able to correct any mistakes quickly.
          </p>
          <p>
            The mappings of the metadata spreadsheets to CIDOC CRM created a knowledge graph, making explicit the individual entities and the relations between them. This knowledge graph represented in RDF (Resource Description Framework;) was ingested into a triple store (Blazegraph, <a href="https://blazegraph.com/" target="_blank">https://blazegraph.com/</a>). Relations between the resources are either established  on the class level (because they belong to the same CIDOC CRM class, e.g. “document” or “physical thing”), on the SKOS concept level (because the same thesaurus term was attributed to them, e.g. “field drawing”) or on an instance level (because they describe the same excavation area or archaeological feature/find, e.g. “Site TD, Area F/1, SQUARE j/21, Planum 3”).
          </p>
          <h4>Workflow from metadata entry to integrated web application</h4>
          <p>
            The actual final workflow from the metadata to an integrated web application with all metadata and digitized objects integrated and searchable involves a number of components (Figure 3):
          </p>
          <p>
            <ol>
              <li>Metadata creation/curation via interlinked MS Excel spreadsheets (Figure 2).</li>
              <li>The manually maintained/created spreadsheets containing the metadata are imported into a PostgreSQL database with PostGIS extension allowing to model and store GIS objects. This import script can either be run in predefined frequencies (cron job) or triggered manually.</li>
              <li>The data in the PostgreSQL database is made accessible through a user friendly (python/django based) web application (<a href="{% url 'webpage:staticpage' template='explore' %}" target="_blank">https://4dpuzzle.orea.oeaw.ac.at/explore</a>), which represents the primary entry point to all digital data of the project.</li>
              <li>The Karma models are applied to the spreadsheets and the generated RDF (modelled in CIDOC-CRM) is ingested into the triple store. The main goal of this transformation is to provide a standard-conformant serialization of the data and a versatile querying capability via SPARQL, which allows for any custom advanced queries on the dataset represented in a semantic conceptual model, beyond the querying functionality offered by the default application. In future RDFs will be generated from the PostgresSQL database application, to reflect changes made in the web application. </li>
              <li>The actual binary data, i.e. the scans resided during the curation process on a file server (see 1.2.10) and are stored in a format which meets all requirements for longterm archiving (TIFF, no compression). Representations of the binaries suitable for a presentation in the context of a website are provided through ARCHE’s dissemination services and integrated into the 4dpuzzle-website. </li>
              <li>Metadata dumps from the triple store together with the binary files (digitized objects) are imported into ARCHE. The repository provides its own generic search and browse capabilities, thus it represents an alternative mode of access to the data.</li>
              <li>Metadata entries browsable in <a href="{% url 'webpage:staticpage' template='explore' %}" target="_blank">https://4dpuzzle.orea.oeaw.ac.at/explore</a> are back-linked to the corresponding objects in ARCHE.</li>
              <li>GIS Data has been published following the WMS and WFS protocols (via Qgis Server) which allows the data integration through third party tools (like QGIS). A basic view on the Data is integrated into 4dpuzzle-website.</li>
            </ol>
          </p>

			</div>

		</div>
    </div>
</div>

{% endblock %}
