{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %} Reconstruct TD {% endblock %}
{% block content %}
<div class="container">
  <h1>Wooden reconstruction of Tell el-Daba F/I palace</h1>
  <div>

      <div class="embed-responsive embed-responsive-16by9">
        <div class="sketchfab-embed-wrapper"><iframe width="640" height="480" src="https://sketchfab.com/models/df4fd8fe23d24560a46d4201a67c5cdc/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>

<p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
  <a href="https://sketchfab.com/models/df4fd8fe23d24560a46d4201a67c5cdc?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Wooden reconstruction of Tell el-Daba F/I palace</a>
  by <a href="https://sketchfab.com/OREA_digitArch?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">OREA_digitArch</a>
  on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
</p>
</div>
      </div>
  </div>
  <br>
  <p>
    This scan shows a wooden model of the palace of area F/I, which was produced for the exhibition “Pharaonen und Fremde” at the Vienna city hall in 1994. The model is based on the field documentation of this building, which was excavated between 1979 and 1989. It shows the palace of area F/I in its final stage, just before this building was abandoned. To the south of this palace were gardens, in which the elite of this area buried their dead. These were laid to rest in mud-brick constructed tombs, which were arranged in parallels rows. In the entrance areas of the major tombs donkeys were buried in pairs. While in a small distance from the tombs, clearly belonging to these, trees were planted in rows. To the west of the palace, outside of its enclosure wall a vineyard with an irrigation system was discovered. Subterranean water pipelines made of burnt bricks brought the water from the Nile to the garden.
</p>
<p>
This model was the starting point for the up-to-date 3D reconstruction of the palace done in the “A puzzle in 4D” project. The latter shows some minor changes, which are based on a very detailed reinvestigation of the architectural remains.
</p>
<p>
The 3D model was created from a series of overlapping photographs using Agisoft Professional (version 1.3.3) software for image-based modelling. Afterwards the model has been uploaded to the Sketchfab online service where it is available to the public. Additionally, special interest points of the model were annotated with further information.
</p>
<p>
Photos: LBI ArchPro
3D modelling, texts and annotations: OREA ÖAW (Seta Stuhec, Karin Kopetzky).
</p>
  <br>
    <a href="{% url 'webpage:staticpage' template='reconstruct' %}">< Back to "Reconstruct TD"</a>
</div>
  <br>

{% endblock %}
