{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %} Reconstruct TD {% endblock %}
{% block content %}
<div class="container">
    <h1>RECONSTRUCTING TD</h1>
    <h2>ArcScene project with reconstructions of tombs</h2>
    <div>
        <div class="row">
					<div class="col-md-8">
            <div class="embed-responsive embed-responsive-16by9">
                <img class="img-responsive" style="" src="{% static 'webpage/media/reconstruct_arcscene.jpeg' %}" />
            </div>
          </div>
          <div class="col-md-4">
            <a href="{% url 'webpage:staticpage' template='reconstruct_arcscene' %}" class="btn btn-default">Explore More</a>
          </div>
        </div>
    </div>
    <hr/>
    <h2>ARCH4D Inspector</h2>
    <div>
      <div class="row">
        <div class="col-md-8">
          <div class="embed-responsive embed-responsive-16by9">
              <img class="img-responsive" style="" src="{% static 'webpage/media/reconstruct_arch4d.jpeg' %}" />
          </div>
        </div>
        <div class="col-md-4">
          <a href="{% url 'webpage:staticpage' template='reconstruct_arch4d' %}" class="btn btn-default">Explore More</a>
        </div>
      </div>
    </div>
      <hr/>
    <h2>Other 3D Models</h2>
    <div>
      <div class="row">
        <div class="col-md-8">
          <div class="embed-responsive embed-responsive-16by9">
              <img class="img-responsive" style="" src="{% static 'webpage/media/reconstruct_3dmodels.jpeg' %}" />
          </div>
        </div>
        <div class="col-md-4">
          <a href="{% url 'webpage:staticpage' template='reconstruct_models' %}" class="btn btn-default">Explore More</a>
        </div>
      </div>
    </div>
    <hr/>

</div>
{% endblock %}
