{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %} Reconstruct TD {% endblock %}
{% block content %}
<div class="container">
  <div class="row">

        <h2>3D-model Tell el-Daba area F/I j21 tomb 8</h2>
        <div class="col-md-8">
        <div class="sketchfab-embed-wrapper"><iframe width="640" height="480" src="https://sketchfab.com/models/525c89d8b14f4482b2856215f00ecd8d/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
        <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
            <a href="https://sketchfab.com/models/525c89d8b14f4482b2856215f00ecd8d?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">3D-model Tell el-Daba area F/I j21 tomb 8</a>
            by <a href="https://sketchfab.com/OREA_digitArch?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">OREA_digitArch</a>
            on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
        </p>
        </div>
      </div>
        <div class="col-md-4">
          <p>
            Tomb F/I – J/20 no. 8 was orientated WNW‒ESE and lies in the E-section of square j/20 as well as in the W-section of square j/21. The upper part of its grave pit was ploughed away by modern agricultural activities. The tomb dates into the Hyksos period (ca. 1620 – 1570 BC).
          </p>
          <p>
            Once the grave pit [(1.65+x) x 1.88m] has been dug, the bottom of the pit was plastered with a single-course row of 1 ½ brick-thick sun-dried mud bricks (38 x 27‒29 x 10cm). In a next step the rectangular chamber [(1.40+x) x 1.25m] was constructed with the same building material to a height of four courses. After the entombment a row of bricks laid in the shape of a shallow roof-ridge, covered the chamber. Earth was then shoveled back into the pit till the roof. In a final step a row of brick was laid over the ridge to ease the pressure on the roofing.
          </p>
          <p>
            In later times the tomb was plundered via a robber´s pit, which cuts into the western part of the chamber. No human remains were found. The only object that survived was a large Cypriote jug in the southern corner of the chamber.
          </p>
        </div>
      </div>


    <br>
    <br>
<div class="row">
      <h2>3D-model Tell el-Daba area F/I j/21 tomb 12, cellar</h2>
      <div class="col-md-8">
      <div class="sketchfab-embed-wrapper"><iframe width="640" height="480" src="https://sketchfab.com/models/bebd3093c1ef4913b5eaff1bcf365ddb/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
      <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
          <a href="https://sketchfab.com/models/bebd3093c1ef4913b5eaff1bcf365ddb?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">3D model: F/I - j/21 tomb 12, cellar</a>
          by <a href="https://sketchfab.com/OREA_digitArch?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">OREA_digitArch</a>
          on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
      </p>
      </div>
    </div>
    <div class="col-md-4">
      <p>
        Rarely, cellars or lined storage pits were found in the settlements of Tell el-Dabca. The cellar in the SW of square F/I – j/21 dated into Phase c is such an occasion.
      </p>
      <p>
        The cellar was set into a narrow pit. Its entrance is from the E, where six steps, flanked by a wall on each sides, led into a rectangular room that was covered by a vault. The cellar walls were built from large sandy bricks (40 x 21 x 10cm) that were retrieved from the ruins of the palace from the previous phase. They were 1 1/2 bricks strong and constructed in alternating courses of stechers and headers. At least five courses of bricks were visible before the lower part of the chamber disappeared into the ground water. At the W-wall three rings of soldiers of the construction of the vault were still preserved.
      </p>
      <p>
        In the following Phase b/3 Tomb F/I – j/20 no. 10 was constructed in the ruins of this cellar. The entrance to the cellar to the E of the chamber was blocked with a 2 bricks strong wall of very clayey bricks and broken brick material. The other three sides of the chamber were reused and integrated into the new construction. The tomb was then covered with a double coursed vault of soldiers.
      </p>
      <p>
        In the following phases the S-wall was cut away by the construction of the younger tomb F/I – j/20 no. 8 and part of the N-Wall was eaten away by a sondage pit of E. Naville done in the late 19th century AD.
      </p>

    </div>
  </div>

<br>
      <a href="{% url 'webpage:staticpage' template='reconstruct' %}">< Back to "Reconstruct TD"</a>
      <br>
        <br>



</div>
</div>
{% endblock %}
