{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %} Reconstruct TD {% endblock %}
{% block content %}
<div class="container">
    <h1>RECONSTRUCTING TD</h1>
    <h2>ArcScene project with reconstructions of tombs</h2>
    <div>
        <p>Project description (text): aims of LBI 4DP project + achievements </p>

        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="http://lbi-archpro.org/cs/Palast_Potree/Palast.html"></iframe>
        </div>
    </div>
    <hr/>
    <div>
        <h2>ARCH4D Inspector</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://arch4d-inspector.eos.arz.oeaw.ac.at/"></iframe>
        </div>
    </div>
    </hr>
    <div>
        <h2>Some other 3dmodels</h2>
        <h4 href="https://sketchfab.com/models/0c88b70c613c4d3b95bd7f4cf4983e84">https://sketchfab.com/models/0c88b70c613c4d3b95bd7f4cf4983e84</h4>
        <div class="sketchfab-embed-wrapper">
            <iframe width="640" height="480" src="https://sketchfab.com/models/0c88b70c613c4d3b95bd7f4cf4983e84/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
            <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
                <a href="https://sketchfab.com/models/0c88b70c613c4d3b95bd7f4cf4983e84?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">TED - Grave 13</a>
                by <a href="https://sketchfab.com/LBIArchPro?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">LBIArchPro</a>
                on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
            </p>
        </div>
        </hr>
        <h4 href="https://sketchfab.com/models/0c88b70c613c4d3b95bd7f4cf4983e84">https://sketchfab.com/models/0c88b70c613c4d3b95bd7f4cf4983e84</h4>
        <div class="sketchfab-embed-wrapper">
            <iframe width="640" height="480" src="https://sketchfab.com/models/8526042c811442a2b77317de3a84b6eb/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
            <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
                <a href="https://sketchfab.com/models/8526042c811442a2b77317de3a84b6eb?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">TED Grave 8</a>
                by <a href="https://sketchfab.com/LBIArchPro?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">LBIArchPro</a>
                on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
            </p>
        </div>
        </hr>
        <h4 href="https://sketchfab.com/models/a532a0b04d0c4a20bd4ea7c59a5ab70d">"https://sketchfab.com/models/a532a0b04d0c4a20bd4ea7c59a5ab70d</h4>
        <div class="sketchfab-embed-wrapper"><iframe width="640" height="480" src="https://sketchfab.com/models/a532a0b04d0c4a20bd4ea7c59a5ab70d/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>

            <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
                <a href="https://sketchfab.com/models/a532a0b04d0c4a20bd4ea7c59a5ab70d?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">TED Grave 14</a>
                by <a href="https://sketchfab.com/LBIArchPro?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">LBIArchPro</a>
                on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
            </p>
        </div>
    </div>
    <hr/>

</div>
{% endblock %}
