{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %} Reconstruct TD {% endblock %}
{% block content %}
<div class="container-planning" style="padding-bottom:150px;">
<div class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Tell el-Daba 4D</li>
    <li class="breadcrumb-item">Reconstructing TD</li>
  </ol>
    <h1>Reconstructing Tell el-Daba</h1>
    <h2>Introduction to reconstructions </h2>
    <p>
    The main motivation for the visualisation of the finds of the TD F/I palace is to share and disseminate the current state of knowledge of existing and reconstructed architectural structures and their interpretation. In order to reach a wider public, it was decided to choose a format suitable for the presentation over the internet, which also allows a presentation of the final content on mobile devices as well as cinematic formats providing image sequences which could be used on and offline. So-called ‘3D Real-time Environments’ and ‘walk–through’ allow users to interact with a 3D environment to discover the reconstructed site on their own pace studying the included archaeological information and experiencing architectural spaces from a first-person view.
    </p>
    <div class="row">

			<div class="col-md-4">
            <h2>Wooden reconstruction of Tell el-Daba F/I palace</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <a href="{% url 'webpage:staticpage' template='reconstruct_arcscene' %}"><img class="img-responsive" style="" src="{% static 'webpage/media/reconstruct_wood_palace.jpeg' %}" /></a>
        </div>
        <br>
        <p>This scan shows a wooden model of the palace of area F/I, which was produced for the exhibition “Pharaonen und Fremde” at the Vienna city hall in 1994. The model is based on the field documentation of this building, which was excavated between 1979 and 1989. It shows the palace of area F/I in its final stage, just before this building was abandoned.
        </p>
        <a href="{% url 'webpage:staticpage' template='reconstruct_arcscene' %}" class="btn btn-default">Explore More</a>
      </div>

      <div class="col-md-4">
        <h2>Phase Model of Tell el-Daba F/I palace</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <a href="{% url 'webpage:staticpage' template='reconstruct_phaseModel' %}"><img class="img-responsive" style="" src="{% static 'webpage/media/reconstruct_phaseModel.jpeg' %}" /></a>
        </div>
        <br>
        <p style="color:red;">
          Loading the application could take a few minutes, depending on your internet access. If your browser has not enough memory, please close all other tabs of your browser, restart it and reload the application.
        </p>
        <p style="color:red;">
          Internet Explorer is not supported.
        </p>
        <p>
          This reconstruction of the palace of area F/I from Tell el-Daba provides the user with the possibility to understand the architecture of this building complex as well as its chronological development.
        </p>
        <a href="{% url 'webpage:staticpage' template='reconstruct_phaseModel' %}" class="btn btn-default">Explore More</a>
      </div>

      <div class="col-md-4">
        <h2>Walkthrough Tell el-Daba F/I palace</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <a href="{% url 'webpage:staticpage' template='reconstruct_walkthrough' %}"><img class="img-responsive" style="" src="{% static 'webpage/media/reconstruct_walkthrough.jpeg' %}" /></a>
        </div>
        <br>
        <p style="color:red;">
          Loading the application could take a few minutes, depending on your internet access. If your browser has not enough memory, please close all other tabs of your browser, restart it and reload the application.
        </p>
        <p style="color:red;">
          Internet Explorer is not supported.
        </p>
        <p>
          <b>Navigation</b><br>
          <b>First Person Mode:</b> Navigate with the arrow keys or the letter keys W, S, A, D to move and use the mouse to look around.<br>
          <b>Fly Mode:</b> Use the left mouse button to orbit and the mouse wheel to zoom in and out.<br>
          <b>Flood Terrain:</b> Klick to see the Nile flood.
        </p>
        <a href="{% url 'webpage:staticpage' template='reconstruct_walkthrough' %}" class="btn btn-default">Explore More</a>
      </div>

    </div>
    <div class="row" style="padding-top:25px; padding-bottom:25px;">

      <div class="col-md-4">
        <h2>Virtual reconstructions of tombs and a cellar</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <a href="{% url 'webpage:staticpage' template='reconstruct_models' %}"><img class="img-responsive" style="" src="{% static 'webpage/media/reconstruct_3dmodels.jpeg' %}" /></a>
        </div>
        <br>
        <p style="color: #83C653">The 3d models will be completed October 2017.
        </p>
        <p>
          Two tombs and a cellar have been reconstructed using field drawings, protocols and photos. Each reconstruction shows the field documentation, a reconstruction of the in situ evidence (i.e. how it looked like when found at excavation) and an idealised reconstruction (how it may originally have looked like).
        </p>
        <a href="{% url 'webpage:staticpage' template='reconstruct_models' %}" class="btn btn-default">Explore More</a>
      </div>

      <div class="col-md-4">
        <h2>3D GIS online<br><br></h2>
        <div class="embed-responsive embed-responsive-16by9">
            <img class="img-responsive" style="" src="{% static 'webpage/media/reconstruct_3dGis.jpeg' %}" />
        </div>
        <br>
        <p style="color: #83C653"> The 3d GIS will be completed January 2018.
        </p>
        <p>
          The 3D GIS will show a reconstruction of the complex layers of archaeological objects of area F/I, square trench j/12.
        </p>
        <a href="{% url 'webpage:staticpage' template='reconstruct_models' %}" class="btn btn-default disabled">Explore More</a>
      </div>

      <div class="col-md-4">
        <h2>Video: Reconstruct Tell el-Daba</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <a href="{% url 'webpage:staticpage' template='video_td' %}"><img class="img-responsive" style="" src="{% static 'webpage/media/video_td.jpeg' %}" /></a>
        </div>
        <br>
        <p>This short film leads you through the reconstruction of a large palace-like building that was excavated by the Austrian Archaeological Institute (ÖAI) during the years 1979 till 1989. This reconstruction is based on the field documentation and the finds retrieved from the building. Since only the foundations, floors and a few courses of the walls were preserved from this palace, for the non-preserved parts used in this reconstruction other documentation of Middle Kingdom architecture were used such as wooden house models, preserved architectural element from other excavations as well as wall paintings and reliefs.
        </p>
        <a href="{% url 'webpage:staticpage' template='video_td' %}" class="btn btn-default">Watch now</a>
      </div>

    </div>
</div>
</div>

{% endblock %}
