{% extends "webpage/base.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %} Reconstruct TD {% endblock %}
{% block content %}
<div class="container-planning" style="padding-bottom:150px;">
<div class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Tell el-Daba 4D</li>
    <li class="breadcrumb-item"><a href="{% url 'webpage:staticpage' template='reconstruct' %}">Reconstructions</a></li>
    <li class="breadcrumb-item">Phase model</li>
  </ol>
  <script src="https://shared.acdh.oeaw.ac.at/4dpuzzle/ted/ted_viewer_phaseModel/TemplateData/UnityProgress.js"></script>
  <script src="https://shared.acdh.oeaw.ac.at/4dpuzzle/ted/ted_viewer_phaseModel/Build/UnityLoader.js"></script>
  <script>
    var gameInstance = UnityLoader.instantiate("gameContainer", "https://shared.acdh.oeaw.ac.at/4dpuzzle/ted/ted_viewer_phaseModel/Build/ted_viewer_WebGL_04.json", {onProgress: UnityProgress});
  </script>

  <h1>Tell el-Daba: Palace Area F/I - Phase Model</h1>
  <div class="webgl-content">
    <div id="gameContainer" style="width: 960px; height: 600px"></div>
      <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)">Fullscreen: <i class="fa fa-arrows-alt" aria-hidden="true" style="cursor:pointer;"></i></div>
  </div>
  <br>
</div>
</div>
  <br>
{% endblock %}
