{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %} Reconstruct TD {% endblock %}
{% block content %}
<div class="container-planning" style="padding-bottom:150px;">
<div class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Tell el-Daba 4D</li>
    <li class="breadcrumb-item"><a href="{% url 'webpage:staticpage' template='reconstruct' %}">Reconstructions</a></li>
    <li class="breadcrumb-item">Walkthrough</li>
  </ol>
  <script src="{% static 'webpage/ted_viewer_walkthrough/TemplateData/UnityProgress.js' %}"></script>
  <script src="{% static 'webpage/ted_viewer_walkthrough/Build/UnityLoader.js' %}"></script>
  <script>
    var gameInstance = UnityLoader.instantiate("gameContainer", "{% static 'webpage/ted_viewer_walkthrough/Build/ted_FP_WebGL_08.json' %}", {onProgress: UnityProgress});
  </script>

  <h1>Tell el-Daba: Palace Area F/I - Walkthrough</h1>
  <div class="webgl-content">
    <div id="gameContainer" style="width: 960px; height: 600px"></div>
      <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)">Fullscreen: <i class="fa fa-arrows-alt" aria-hidden="true" style="cursor:pointer;"></i></div>
  </div>
  <br>
  <p>
    <b>Navigation</b><br>
    <b>First Person Mode:</b> Navigate with the arrow keys or the letter keys W, S, A, D to move and use the mouse to look around.<br>
    <b>Fly Mode:</b> Use the left mouse button to orbit and the mouse wheel to zoom in and out.<br>
    <b>Flood Terrain:</b> Klick to see the Nile flood.
  </p>
  <p>
      <a href="{% url 'webpage:staticpage' template='video_td' %}">Video: Reconstruct Tell el-Daba </a>
  </p>
</div>
</div>
  <br>
{% endblock %}
