{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block content %}
<div class="container-planning">
    <div class="container">
		<div class="text-center">
			<h1>Team</h1>
			<hr style="border-color:#83C653; border-width: 2px" width="10%">
		</div>
    <div class="row">
			<div class="col-md-8">
				<h2>OREA Digital Archaeology Research Group <a class="fa fa-home" style="color:#83C653;" target="_blank" href="http://www.orea.oeaw.ac.at/forschung/digital-archaeology/"></a></h2>
				<p class="justify">
				<b>Project leader:</b> Barbara Horejs<br>
				<b>Scientific coordinator OREA:</b> Edeltraud Aspöck<br>
				<b>Project management:</b> Angela Schwab<br>
				<b>Archiving:</b> Karin Kopetzky<br>
				<b>Researcher:</b> Gerald Hiebel<br>
				<b>Project assistant:</b> Martina Simon<br>
        <b>Developer:</b> Karl Burkhart<br>
				<b>Student assistants:</b> Karl Burkhart, Stefanie Fragner, Julian Posch<br>
				<h2>LBI ArchPro <a class="fa fa-home" style="color:#83C653;" target="_blank" href="http://archpro.lbg.ac.at"></a></h2>
				<b>Project leader LBI:</b> Wolfgang Neubauer <br>
				<b>Scientific coordinator LBI:</b> Matthias Kucera <br>
				<b>Researchers:</b> Nives Doneus, Sandra Müller<br>
	      <h2>ACDH Austrian Center for Digital Humanities <a class="fa fa-home" style="color:#83C653;" target="_blank" href="https://www.oeaw.ac.at/acdh/acdh-home/"></a></h2>
        <b>Project leader:</b> Matej Durco<br>
        <b>Developers:</b> Peter Andorfer, Ksenia Zaytseva <br>
				</p>
				<br>
				<br>

			</div>
			<div class="col-lg-4" align="center">
				<br>
				<a href="https://www.oeaw.ac.at/acdh/acdh-home/" target="_blank"><img src="{% static 'webpage/media/logo_acdh.jpg' %}" width="30%" class="img-responsive"></a>
				<br>
				<a href="https://www.oeaw.ac.at/oeai/home/" target="_blank"><img src="{% static 'webpage/media/logo_oai.jpg' %}" width="30%" class="img-responsive"></a>
				<br>
				<a href="http://www.ariadne-infrastructure.eu/" target="_blank"><img src="{% static 'webpage/media/logo_ariadne.jpg' %}" width="40%" class="img-responsive"></a>
				<br>
				<a href="http://www.orea.oeaw.ac.at/home/" target="_blank"><img src="{% static 'webpage/media/logo_orea.png' %}" width="40%" class="img-responsive"></a>
				<br>
        <a href="http://archpro.lbg.ac.at" target="_blank"><img src="{% static 'webpage/media/logo_lbi.png' %}" width="40%" class="img-responsive"></a>
        <br>
				PIN<br>
				Archaeology Data Service<br>
				University of Chicago<br>
				Universität Bochum<br>
			</div>
		</div>
    </div>
</div>
{% endblock %}
