{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block content %}
<div class="container-planning">
    <div class="container">
		<div class="text-center">
			<h1>Team</h1>
			<hr style="border-color:#83C653; border-width: 2px" width="10%">
		</div>
        <div class="row">
			<div class="col-md-8">
				<h2>OREA team - Digital Archaeology Research Group, Institute for Oriental and European Archaeology</h2>
				<p class="justify" style="">
				<b>Project leader:</b> Barbara Horejs<br>
				<b>Scientific coordinator OREA:</b> Edeltraud Aspöck<br>
				<b>Project management:</b> Angela Schwab<br>
				<b>Archiving:</b> Karin Kopetzky<br>
				<b>Researcher:</b> Gerald Hiebel<br>
				<b>Project assistant:</b> Martina Simon<br>
				<b>Student assistants:</b> Karl Burkhart, Stephanie Fragner, Julian Posch<br>
				<h2>LBI ArchPro team</h2>
				<b>Project leader LBI:</b> Wolfgang Neubauer <br>
				<b>Scientific coordinator LBI:</b> Matthias Kucera <br>
				<b>Researcher:</b> Nives Doneus <br>
				<b>Researcher:</b> Sandra Müller
				</p>
				<br>
				<br>

			</div>
			<div class="col-lg-4" align="center">

				<br>
				<img src="{% static 'webpage/media/logo_acdh.jpg' %}" width="40%" class="img-responsive">
				<br>
				<img src="{% static 'webpage/media/logo_oai.jpg' %}" width="40%" class="img-responsive">
				<br>
				<img src="{% static 'webpage/media/logo_ariadne.jpg' %}" width="50%" class="img-responsive">
				<br>
				<img src="{% static 'webpage/media/logo_orea.png' %}" width="50%" class="img-responsive">
				<br>
				PIN<br>
				Archaeology Data Service<br>
				University of Chicago<br>
				Universität Bochum<br>

			</div>
		</div>
    </div>
</div>
{% endblock %}
