{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %} Reconstruct TD {% endblock %}
{% block content %}
<div class="container-planning" style="padding-bottom:150px;">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Tell el-Daba 4D</li>
      <li class="breadcrumb-item"><a href="{% url 'webpage:staticpage' template='movies' %}">Movies</a></li>
      <li class="breadcrumb-item">Video HMC+</li>
    </ol>
<div class="container">
  <h1>HMC+ Workflow</h1>
  <div>

      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rEqhDihwe9U" frameborder="0" allowfullscreen></iframe>
      </div>
  </div>
</div>
</div>
  <br>
{% endblock %}
