{% extends "webpage/base.html" %}
{% load staticfiles %}
{% block title %}Find: {{ object }}{% endblock %}
{% block scriptHeader %}
<link rel="stylesheet" href="{% static 'webpage/libraries/leaflet/leaflet.css' %}"/></link>
<script src="{% static 'webpage/libraries/leaflet/leaflet.js' %}"></script>
<script src="{% static 'webpage/leaflet.ajax/leaflet.ajax.js' %}"></script>
<style>
    #map { height: 800px; }
</style>
{% endblock %}
{% block content %}
<div class="panel panel-body">
    <div class="panel panel-default procustom-panel-create">
        <div class="panel-heading procustom-panel-heading">
            <div class="row">
                <div class="col-md-2">
                    {% if object.get_prev %}
                    <h2>
                        <a href="{% url 'archobs:find-detail' pk=object.get_prev %}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true" title="previous area"></span></a>
                    </h2>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <h1 style="text-align: center;">
                       <small>find: </small>{{ object }}
                    </h1>
                </div>
                <div class="col-md-2">
                {% if object.get_next %}
                    <h2>
                        <a href="{% url 'archobs:find-detail' pk=object.get_next %}" style="float:right"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" title="next area"></span></a>
                    </h2>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="panel-body" style="text-align:center">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered table-hover table-condensed">
                        <tr>
                            <th>gisfind_id</th>
                            <td>{{ object.gisfind_id }}</td>
                        </tr>
                        <tr>
                            <th>excavation</th>
                            <td>{{ object.excavation }}</td>
                        </tr>
                        <tr>
                            <th>stratum_id</th>
                            <td>{{ object.stratum_id }}</td>
                        </tr>
                        <tr>
                            <th>stratum_gi</th>
                            <td>{{ object.stratum_gi }}</td>
                        </tr>
                        <tr>
                            <th>phase_id</th>
                            <td>{{ object.phase_id }}</td>
                        </tr>
                        <tr>
                            <th>phase_gis_field</th>
                            <td>{{ object.phase_gis_field }}</td>
                        </tr>
                        <tr>
                            <th>archaeolog</th>
                            <td>{{ object.archaeolog }}</td>
                        </tr>
                        <tr>
                            <th>gis_locus_field</th>
                            <td>{{ object.gis_locus_field }}</td>
                        </tr>
                        <tr>
                            <th>gis_su_id</th>
                            <td>{{ object.gis_su_id }}</td>
                        </tr>
                        <tr>
                            <th>gis_commen</th>
                            <td>{{ object.gis_commen }}</td>
                        </tr>
                        <tr>
                            <th>find_mater</th>
                            <td>{{ object.find_mater }}</td>
                        </tr>
                        <tr>
                            <th>height</th>
                            <td>{{ object.height }}</td>
                        </tr>
                        <tr>
                            <th>find_inven</th>
                            <td>{{ object.find_inven }}</td>
                        </tr>
                        <tr>
                            <th>find_local</th>
                            <td>{{ object.find_local }}</td>
                        </tr>
                        <tr>
                            <th>eigner_map</th>
                            <td>{{ object.eigner_map }}</td>
                        </tr>
                        <tr>
                            <th>resource_i</th>
                            <td>{{ object.resource_i }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" id="zoom-in">Zoom In</button>
                        <button type="button" class="btn btn-primary" id="home">Default</button>
                        <button type="button" class="btn btn-primary" id="zoom-out">Zoom Out</button>
                        <button type="button" class="btn btn-primary" id="full-page">Full Sceen</button>
                    </div>
                    <div id="openseadragon1" style="width: 100%; height: 400px"></div>
                    <script src="{% static 'images/openseadragon/openseadragon.min.js' %}"></script>
                    <script type="text/javascript">
                        var viewer = OpenSeadragon({
                            id: "openseadragon1",
                            tileSources: "{{ object.iiifjson }}",
                            zoomInButton:   "zoom-in",
                            zoomOutButton:  "zoom-out",
                            homeButton:     "home",
                            fullPageButton: "full-page",
                        });
                    </script>
                </div>
        </div>
    </div>
    </div>
    <div id="map"/>
</div>

<script type="text/javascript">

    var mymap = L.map('map', {
      fullscreenControl: true,
  }).setView([30.7884398, 31.8181869], 10);

    var baseLayer = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 400,
    id: 'mapbox.light',
    accessToken: 'pk.eyJ1Ijoic2VubmllcmVyIiwiYSI6ImNpbHk1YWV0bDAwZnB2dW01d2l1Y3phdmkifQ.OljQLEhqeAygai2y6VoSwQ',
    });

    baseLayer.addTo(mymap);
    L.geoJson.ajax("{% url 'archobs-json:findgeojson' pk=object.id %}").addTo(mymap);



    var defaultLayers = {
        "Default": baseLayer
    }

    var overlayMaps = {
        "Dinamlex": L.tileLayer('https://maps.acdh.oeaw.ac.at/mapserv?map=/data/test.map&mode=tile&layers=test&tilemode=gmap&tile={x}+{y}+{z}', {'maxZoom': 18, 'opacity': 0.7}),
        "Tirol": L.tileLayer('https://maps.acdh.oeaw.ac.at/mapserv?map=/data/tirol.map&mode=tile&layers=tirol&tilemode=gmap&tile={x}+{y}+{z}', {'maxZoom': 18, 'opacity': 0.7}),
        "Czoernig": L.tileLayer('https://maps.acdh.oeaw.ac.at/mapserv?map=/data/czoernig.map&mode=tile&layers=czoernig&tilemode=gmap&tile={x}+{y}+{z}', {'maxZoom': 18, 'opacity': 0.7})
    };
    L.control.layers(defaultLayers, overlayMaps).addTo(mymap);
</script>
{% endblock %}
